<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BEYONDSOFT</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <link href="/style/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <link href="/style/jquery-ui.css" rel="stylesheet">

    <link href="/style/bootstrap-datetimepicker.min.css" rel="stylesheet"/>


    <script type="text/javascript" src="/javascript/jquery-1.11.1.min.js" charset="UTF-8"></script>

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.backstretch.min.js"></script>

    <script src="/javascript/jquery.metisMenu.js"></script>
    <script src="/javascript/custom-scripts.js"></script>

    <script src="/javascript/bootstrap-table.min.js"></script>
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>

    <!--tableExport-->
    <script src="/javascript/tableExport.js"></script>
    <script src="/javascript/bootstrap-table-export.js"></script>

    <script src="/javascript/bootstrap-datetimepicker.js"></script>
    <script src="/javascript/bootstrap-datetimepicker.zh-CN.js"></script>

    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 35em;
            width: 100%;
        }

        .navbar-brand-right_{
            float:right;
        }
        .search{
            height: 2em;
        }
        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }
        .datePicker{
            width: 36em;
        }
        .datePicker_{
            width: 15em;
        }

        table thead th{
            background:#275AB2;
        }
        thead{
            color:#FFFFFF;
        }

        .search{
            margin-bottom: 1em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W150 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>
</head>
<body>
<script>
    window.sign = 0;//0:add, 1:update
</script>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" > <strong> &nbsp &nbsp &nbsp BeyondSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--区域安全防范系统-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 区域安全防范系统<span class="fa arrow"></span></a>
                    <ul class="nav">
                        <!--轨迹图-->
                        <li>
                            <a href="/console/trace_info">轨迹图</a>
                        </li>

                        <!--轨迹统计图表-->
                        <li>
                            <a href="/console/camera_info">轨迹统计图表</a>
                        </li>

                        <!--轨迹统计图表_小时-->
                        <li>
                            <a href="/console/camera_info_hour">轨迹统计图表_小时</a>
                        </li>

                        <!--告警设置-->
                        <li>
                            <a href="/console/contacts_config">告警设置</a>
                        </li>

                        <!--告警联系人-->
                        <li>
                            <a href="/console/contacts_management">告警联系人</a>
                        </li>
                    </ul>
                </li>

                <!--内部人员管理-->
                <li>
                    <a class="active-menu"><i class="fa fa-sitemap"></i> 内部人员管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <!--员工管理-->
                        <li>
                            <a href="/console/employee_management">员工管理</a>
                        </li>

                        <!--访客管理-->
                        <li>
                            <a href="/console/visitor_management">访客管理</a>
                        </li>

                        <!--访客记录管理-->
                        <li>
                            <a href="/console/visitorRecord_management">访客记录管理</a>
                        </li>


                        <!--考勤信息-->
                        <li>
                            <a href="/console/attendance_management" class="active-menu-item">考勤信息</a>
                        </li>
                    </ul>
                </li>

                <!--系统管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
                    <ul class="nav">
                        <!--服务器管理-->
                        <li>
                            <a href="/console/server_management">服务器管理</a>
                        </li>

                        <!--服务器信息-->
                        <li>
                            <a href="/console/server_info">服务器信息</a>
                        </li>

                        <!--摄像头管理-->
                        <li>
                            <a href="/console/camera_management">摄像头管理</a>
                        </li>

                        <!--参数设置-->
                        <li>
                            <a href="/console/face_config">参数设置</a>
                        </li>

                        <!--用户管理-->
                        <li>
                            <a href="/console/user_management">用户管理</a>
                        </li>

                        <!--用户信息修改-->
                        <li>
                            <a href="/console/profile">用户信息修改</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header"style="color: #FFFFFF;">
                        考勤信息
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-inline">

                                <div class="form-group">
                                    <label  for="datepicker_start_box">开始时间</label>
                                    <div class="input-group date form_date" id="datepicker_start_box"  data-link-field="dtp_input2" >
                                        <input class="form-control" id="datepicker_start" size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    </div>
                                    <!--<input  type="text" class="form-control" id="datepicker_start" readonly>-->
                                </div>

                                <div class="form-group">
                                    <label  for="datepicker_end_box">结束时间</label>
                                    <div class="input-group date form_date" id="datepicker_end_box"  data-link-field="dtp_input2" >
                                        <input class="form-control" id="datepicker_end" size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    </div>

                                    <!--<input  type="text" class="form-control" id="datepicker_end" readonly>-->
                                </div>

                                <button class="btn btn-primary searchData">查询</button>
                                <button type="button" id="myExportData" value="excel" class='btn btn-primary btn-info'>导出考勤记录</button>

                            </div>
                        <!--<button class="btn btn-primary searchData">Search</button>-->

                            <div class="table-responsive" style="margin-top: 1em;">

                                <table id="_table_user_search" class="table table-striped table-bordered table-hover table-fixed">
                                    <thead>
                                    <tr>
                                        <th data-field="personnumber"  class="W30" style="border:none;">ID</th>
                                        <th data-field="name"  class="W100" style="border:none;">姓名</th>
                                        <th data-field="tracedate"  class="W100"style="border:none;">考勤时间</th>
                                        <th data-field="cameraname"  class="W100"style="border:none;">考勤摄像头名称</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                <!--End Advanced Tables -->
                </div>
            </div>
        <!-- /. ROW  -->
        </div>
    </div>
<!-- /. PAGE INNER  -->
</div>

<!--message alter-->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);
    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');
    });
    function _formatte_user_id(value, row, index) {
        return '<input name="id" type="radio" value="' + value + '" />';
    }
    function _reset(from) {
        from[0].reset();
        _reset_input(from.find("input"));
    }
    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');
    }
    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })

    $(".btn.btn-primary.open-add-new-user-dialog").click(function() {
        _reset($(".form-horizontal.add-new-user"));
        $("#dialog-user-management-update-title").html("Add new user");
        $("#dialog-user-management-update").modal("show");
    });
    $(".btn.btn-primary.searchData").click(function() {
        console.log('clicked search button');
        var startTime = $("#datepicker_start").val();
        var endTime = $("#datepicker_end").val();
        console.log("startTime: "+startTime);
        console.log("endTime: "+endTime);
        //校验输入数据
        if(startTime == ""){
            $("#dialog-return").find(".modal-body").html("请选择开始日期");
            $("#dialog-return").modal("show");
            return;
        } else {
            if(endTime == ""){
                $("#dialog-return").find(".modal-body").html("请选择结束日期");
                $("#dialog-return").modal("show");
                return;
            } else {
                var start_time = startTime.replace(/-/,"").replace(/-/,"");

                var end_time = endTime.replace(/-/,"").replace(/-/,"");

                console.log("start_time: "+start_time);
                console.log("end_time: "+end_time);
                if(parseInt(end_time) < parseInt(start_time)){
                    $("#dialog-return").find(".modal-body").html("开始时间需小于结束时间，请重新选择");
                    $("#dialog-return").modal("show");

                    return;
                }
            }
        }
        $.ajax({
            type: "get",
            url: "/console/attendance_management/search",
            timeout:timeout_network,
            data: {
                limit:  window.limit,
                offset:  window.offset,
                search:  window.search,
                startDate:startTime,
                endDate:endTime,
            },
            dataType:"json",
            success : function(json) {
                $("#_table_user_search").bootstrapTable('load', json);//主要是要这种写法
            },
            error : function(res){
                $("#dialog-return").find(".modal-body").html("网络错误");

                if(json.message != undefined){
                    $("#dialog-return").find(".modal-body").append(json.message);
                }
                $("#dialog-return").modal("show");
            }
        });
    });

</script>

<script type="text/javascript">
    var timeout_network = 3000;

    $(document).ready(function() {
        //初始化table
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var date_month_start = year+"-" + month + "-" + 01;
        var date_month_end = year+"-" + month + "-" + getLastDay(year,month);
        console.log('start date: ' + date_month_start);
        console.log('start date: ' + date_month_end);
        $("#datepicker_start").val(date_month_start);
        $("#datepicker_end").val(date_month_end);

        window.limit;
        window.offset;
        window.search;

        $('#_table_user_search').bootstrapTable({
            method: 'get',
            url: "/console/attendance_management/search",
            striped: true,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            pageNumber:1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求

            showExport: true,                     //是否显示导出
            exportDataType: "all",              //basic', 'all', 'selected'.

            showHeader : true,
            //sidePagination : 'server',//服务器端分页
            pageNumber : 1,
            pageList: [5, 10, 20, 50],//分页步进值
            search: true,//显示搜索框
            clickToSelect: false,

            queryParams: function(params) {
                window.limit = params.limit;
                window.offset = params.offset / params.limit;
                window.search = $(".search").find("input").val();

                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,

                    search: $(".search").find("input").val(),
                    startDate:date_month_start,
                    endDate:date_month_end,
                };
            },
            responseHandler: function(res) {
                console.log('row'+res.rows);
                return {
                    "rows": res.rows,
                    "total": res.total
                };
            }
        });

        //初始化日历
        $('.form_date').datetimepicker({
            format: "yyyy-m-d",
            language:  'zh-CN',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        // $( "#datepicker_start" ).datepicker({
        //     dayNamesMin : ["日", "一", "二", "三", "四", "五", "六"],
        //     /* 每周从周一开始 */
        //     firstDay : 1,
        //     /* 区域化月名为中文习惯 */
        //     monthNames : ["1月", "2月", "3月", "4月", "5月", "6月",
        //         "7月", "8月", "9月", "10月", "11月", "12月"],
        //     /* 月份显示在年后面 */
        //     showMonthAfterYear : true,
        //     /* 年份后缀字符 */
        //     yearSuffix : "年",
        //     /* 格式化中文日期
        //     （因为月份中已经包含“月”字，所以这里省略） */
        //     dateFormat : "yy-m-d"
        // });
        // $( "#datepicker_end" ).datepicker({
        //     dayNamesMin : ["日", "一", "二", "三", "四", "五", "六"],
        //     /* 每周从周一开始 */
        //     firstDay : 1,
        //     /* 区域化月名为中文习惯 */
        //     monthNames : ["1月", "2月", "3月", "4月", "5月", "6月",
        //         "7月", "8月", "9月", "10月", "11月", "12月"],
        //     /* 月份显示在年后面 */
        //     showMonthAfterYear : true,
        //     /* 年份后缀字符 */
        //     yearSuffix : "年",
        //     /* 格式化中文日期
        //     （因为月份中已经包含“月”字，所以这里省略） */
        //     dateFormat : "yy-m-d"
        // });

        $.ajax({
            type: "get",
            url: "/console/user_management/getAdminInfo",
            timeout:timeout_network,
            dataType:"json",
            success : function(json) {
                switch (json.status){
                    case "SUCCEED" :
                        $("#adminName").append(json.adminName);
                        $("#adminEmail").append(json.adminEmail);
                        console.log("管理员姓名 ： "+json.adminName);
                        console.log("管理员邮箱 ： "+json.adminEmail);

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取管理员信息失败");

                        if(json.message != undefined){
                            $("#dialog-return").find(".modal-body").append(json.message);
                        }

                        $("#dialog-return").modal("show");

                        break;
                }
                

            },
            error : function () {
                $("#dialog-return").find(".modal-body").html("获取管理员信息失败---网络错误");
                $("#dialog-return").modal("show");
            }
        });
    })
    function getLastDay(year,month) {
        var new_year = year;    //取当前的年份
        var new_month = month++;//取下一个月的第一天，方便计算（最后一天不固定）
        if(month>12)            //如果当前大于12月，则年份转到下一年
        {
            new_month -=12;        //月份减
            new_year++;            //年份增
        }
        var new_date = new Date(new_year,new_month,1);                //取当年当月中的第一天
        return (new Date(new_date.getTime()-1000*60*60*24)).getDate();//获取当月最后一天日期
    }


    function doOnMsoNumberFormat(cell, row, col){
        var result = "";
        if (row > 0 && col == 0){
            result = "\\@";
        }
        return result;
    }
    //处理导出内容,这个方法可以自定义某一行、某一列、甚至某个单元格的内容,也就是将其值设置为自己想要的内容
    function DoOnCellHtmlData(cell, row, col, data){
        if(row == 0){
            return data;
        }

        //由于备注列超过6个字的话,通过span标签处理只显示前面6个字,如果直接导出的话会导致内容不完整,因此要将携带完整内容的span标签中title属性的值替换
        if(col == 4 || col ==11 || col == 7){
            var spanObj = $(data);//将带 <span title="val"></span> 标签的字符串转换为jQuery对象
            var title = spanObj.attr("title");//读取<span title="val"></span>中title属性的值
            //var span = cell[0].firstElementChild;//读取cell数组中的第一个值下的第一个元素
            if(typeof(title) != 'undefined'){
                return title;
            }
        }

        return data;
    }
</script>

</body>
</html>