<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BEYONDSOFT</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>

    <!--add-->

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <link href="/style/bootstrap-datetimepicker.min.css" rel="stylesheet"/>


    <script src="/javascript/jquery.metisMenu.js"></script>
    <script src="/javascript/custom-scripts.js"></script>

    <script src="/javascript/jquery-ui.js"></script>
    <script src="/javascript/chart.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>

    <script src="/javascript/bootstrap.min.js"></script>

    <!--datetimepicker-->
    <script src="/javascript/jquery-ui-timepicker-addon.js"></script>
    <link href="/style/jquery-ui.css" rel="stylesheet"/>
    <link href="/style/jquery-ui-timepicker-addon.css" rel="stylesheet"/>

    <!--editable select-->
    <!-- <script src="javascript/jquery-editable-select.js"></script>
    <link href="style/jquery-editable-select.css" rel="stylesheet"/> -->

    <script>
        jQuery(function($){
            $.timepicker.regional['zh-CN'] = {
                timeOnlyTitle: '选择时间',
                timeText: '时间',
                hourText: '小时',
                minuteText: '分钟',
                secondText: '秒钟',
                millisecText: '毫秒',
                microsecText: '微秒',
                timezoneText: '时区',
                currentText: '现在时间',
                monthNames: ['一月','二月','三月','四月','五月','六月', '七月','八月','九月','十月','十一月','十二月'],
                monthNamesShort: ['一月','二月','三月','四月','五月','六月', '七月','八月','九月','十月','十一月','十二月'],
                dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                dayNamesMin: ['日','一','二','三','四','五','六'],
                closeText: '关闭',
                timeFormat: 'HH:mm',
                dateFormat: 'yy-mm-dd',
                timeSuffix: '',
                amNames: ['AM', 'A'],
                pmNames: ['PM', 'P'],
                isRTL: false
            };
            $.timepicker.setDefaults($.timepicker.regional['zh-CN']);
        });
    </script>

    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            width: 100%;
        }

        .navbar-brand-right_{
            float:right;
        }
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }
        .kv-avatar {
            display: inline-block;
        }
        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }
        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }
        .center-vertical {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        .search{
            padding-bottom: 1em;
        }

        .div_allinline{
            text-align:center;
            margin:0 auto;
            padding:0;
            clear:both;
        }

        .info_detail{
            margin:5px;
            padding:0;
            display:inline-block;
            float: none;
        }

        label{
            margin-bottom: 0px;
        }

        .info_hide{

        }

        .hide{
            display: none;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W100 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W30 {width:30px !important;}
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" > <strong> &nbsp &nbsp &nbsp BeyondSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--区域安全防范系统-->
                <li>
                    <a class="active-menu"><i class="fa fa-sitemap"></i> 区域安全防范系统<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <!--轨迹图-->
                        <li>
                            <a href="/console/trace_info">轨迹图</a>
                        </li>

                        <!--轨迹统计图表-->
                        <li>
                            <a href="/console/camera_info" >轨迹统计图表</a>
                        </li>

                        <!--轨迹统计图表_小时-->
                        <li>
                            <a href="/console/camera_info_hour" class="active-menu-item">轨迹统计图表_小时</a>
                        </li>

                        <!--告警设置-->
                        <li>
                           <a href="/console/contacts_config">告警设置</a>
                        </li>

                        <!--告警联系人-->
                        <li>
                            <a href="/console/contacts_management">告警联系人</a>
                        </li>

                        <!--人脸检测-->
                        <li>
                            <a href="" title="人脸检测" target="_blank" id="detectURL">人脸检测</a>
                        </li>
                    </ul>
                </li>

                <!--内部人员管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 内部人员管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--员工管理-->
                        <li>
                            <a href="/console/employee_management">员工管理</a>
                        </li>

                        <!--访客管理-->
                        <li>
                            <a href="/console/visitor_management">访客管理</a>
                        </li>

                        <!--访客记录管理-->
                        <li>
                            <a href="/console/visitorRecord_management">访客记录管理</a>
                        </li>


                        <!--考勤信息-->
                        <li>
                            <a href="/console/attendance_management">考勤信息</a>
                        </li>
                    </ul>
                </li>

                <!--系统管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--服务器管理-->
                        <li>
                            <a href="/console/server_management">服务器管理</a>
                        </li>

                        <!--服务器信息-->
                        <li>
                            <a href="/console/server_info">服务器信息</a>
                        </li>

                        <!--摄像头管理-->
                        <li>
                            <a href="/console/camera_management">摄像头管理</a>
                        </li>

                        <!--参数设置-->
                        <li>
                            <a href="/console/face_config">参数设置</a>
                        </li>

                        <!--用户管理-->
                        <li>
                            <a href="/console/user_management">用户管理</a>
                        </li>

                        <!--用户信息修改-->
                        <li>
                            <a href="/console/profile">用户信息修改</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        轨迹统计图表
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <!--main-->
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body" style="padding-left: 0px; padding-right: 0px;">
                            <div  class="panel-heading">
                                <div class="form-inline">

                                    <div class="form-group" style="margin-bottom: 8px; margin-left: 1em;">
                                        <lable for="cameraName">摄像头名称：</lable>
                                        <select type="text" class="form-control" id="cameraName" onchange="reset_select"></select>
                                    </div>


                                    <div class="form-group" style="margin-bottom: 8px; margin-left: 1em;">
                                        <lable for="datepicker_start_box" >开始时间：</lable>

                                        <div class="input-group date form_datetime col-sm-7" id="datepicker_start_box" data-link-field="dtp_input1">
                                            <input class="form-control" size="16" id="datepicker" type="text" value="" readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        </div>

                                        <!--<div class="input-group date form_date" id="datepicker_start_box"  data-link-field="dtp_input2" >-->
                                            <!--<input class="form-control" id="datepicker" size="16" type="text" value="" readonly>-->
                                            <!--<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>-->
                                        <!--</div>-->

                                        <!--<input type="text" class="form-control" id="datepicker" readonly>-->
                                    </div>

                                    <div class="form-group" style="margin-bottom: 8px; margin-left: 1em;">
                                        <button class="btn btn-primary searchData">查找</button>
                                    </div>

                                </div>

                                <h4 class="searchResult"></h4>


                                <div class="canvas-wrapper form-group" style="margin-top: 5px;margin-left: 15px;">

                                    <div class="row col-sm-12 col-xs-12" style="padding-right: 0px">
                                        <div class="form-group" style="margin-top: 5px; margin-bottom: 10px;padding-left: 20%">
                                            <label id="time_show" style="font-size: 1.5em"></label>
                                        </div>

                                        <div class="col-sm-12 col-xs-12" style="padding-left: 0px; padding-right: 0px">
                                            <canvas  id="line-chart" style="height:300px !important;padding-left: 20%; padding-right: 20%; width: 100%;"></canvas>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row" style="margin-left: 15px;margin-right:15px">
                                        <h2 style="margin-bottom: 10px;padding-left: 20%;">
                                            详情：
                                        </h2>

                                        <div class="col-md-12 col-sm-12 div_allinline" id="personInfo" style="padding-left: 20%;padding-right: 20%;  margin: 0 auto"></div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->

</div>
</div>
<!-- /. PAGE INNER  -->
</div>

<!--弹出框-->
<div id="dialog-user-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择摄像头 <span id="dialog-user-management-update-title"></span></h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0px">
                <form role="form" class="form-horizontal add-new-user" method="POST">
                    <input type="text" style="display:none;" id="id" name="id" />

                    <div class="form-group" style="margin-bottom: 5px">
                        <div class="col-sm-22">
                            <div class="panel panel-default" style="margin-bottom: 5px">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="cameraList" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th data-field="id" data-formatter="_formatte_camera_id" class="W30" style="border:none; " ></th>
                                                <th data-field="cameraName" class="W100">摄像头名称</th>
                                                <th data-field="server.serverName" class="W100" style="border:none;" align="center">服务器名称</th>
                                                <th data-field="entranceGuardNO" class="W100" style="border:none;" align="center">门禁编号</th>
                                                <th data-field="entranceGuard" class="W100" data-formatter="_formatted_select" style="border:none;" align="center">是否门禁摄像头</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 5px;margin-bottom: 5px">
                            <button type="button" class="btn btn-primary add-new-user">确认</button>
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var ischoosedCamera = false;
    var id = getUrlParam("id");
    var timeout_network = 3000;


    //获取时间
    var oDate = new Date();
    //var date = oDate.getFullYear() + '-'+ (parseInt(oDate.getMonth())+1) +'-'+oDate.getDate() + " "+oDate.getHours()+":"+oDate.getMinutes();
    var date = oDate.getFullYear() + '-'+ (parseInt(oDate.getMonth())+1) +'-'+oDate.getDate() + " "+( oDate.getHours() - 1 )+":"+oDate.getMinutes();
    
    var data_chart = {
        labels : ["0","5","10","15","20","25","30","35","40","45","50","55"],
        datasets : [
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : [0,0,0,0,0,0,0,0,0,0,0,0]
            }
        ]
    };
    var args = window.location.href.split("?");

    //是否是手机端
    var isCellPhone = navigator.userAgent.match(/mobile/i);
    
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);
    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })

    $(document).ready(function() {
        var pageSize_cameraList = 10;

        if(isCellPhone) {
            pageSize_cameraList = 5;
        }

        //手机端修改dialog的长度
        $("#dialog-user-management-update").on('show.bs.modal', function () {
            if(isCellPhone){
                $(".fixed-table-body").css("height","15em");
            } else {
                $(".fixed-table-body").css("height","30em");
            }
        })

        //修改canvas 边距
        if(isCellPhone){
            $("#line-chart").css("padding-left","10%");
            $("#line-chart").css("padding-right","10%");
        }

        $.ajax({
            type: "get",
            dataType:"json",
            url : "/console/faceconfig_management/search",

            success : function (r) {
                switch (r.status){
                    case "SUCCEED" :
                        $("#detectURL").attr("href","http://"+r.serverIPandPort+"/console/face_detect");
                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取配置信息失败");

                        if(r.errorMessage != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.errorMessage);
                        }

                        $("#dialog-return").modal("show");

                        break;
                }
            },
            error : function (r) {

            }
        })


        $('#datepicker').datetimepicker();

        $('#cameraList').bootstrapTable({
            method: 'get',
            url: "/console/camera_management/search",
            striped: true,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: pageSize_cameraList,
            pageNumber:1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求

            showHeader : true,
            //sidePagination : 'server',//服务器端分页
            pageNumber : 1,
            pageList: [5, 10, 20, 50],//分页步进值
            search: true,//显示搜索框
            clickToSelect: false,
            queryParams: function(params) {
                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,
                    search: $(".search").find("input").val()
                };
            },
            responseHandler: function(res) {
                console.log(res);

                return {
                    "rows": res.rows,
                    "total": res.total
                };
            }

        });

        $("#datepicker").val(date);

        var name="";

        if(id==undefined){
            ischoosedCamera = false;
            // $("#dialog-user-management-update").modal("show");
        } else {
            ischoosedCamera = true;
        }

        if(ischoosedCamera) {

            var data = {
                "cameraID": id,
                "date": date
            }

            getCameraNameById(id);

            $("#datepicker").val(date);

            refreshChartAndTable(data);
        }

        $.ajax({
            type : "get",
            dataType : "json",
            async: false,
            url : "/console/camera_management/search",

            success : function (r) {
                switch (r.status){
                    case "SUCCEED" :
                        createOptions(r.rows);
                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("网络错误");

                        if(r.errorMessage != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.errorMessage);
                        }

                        $("#dialog-return").modal("show");

                        break;
                }
            },
            error : function (r) {
            }
        });



        //默认搜索一楼电梯
        var option = $("option[value=39]");

        if( option.length != 0){

            option[0].selected = true;
        }

        $(".searchData").click();

    });

    //动态div框的信息显示与清除
    $(document).on("mouseover",".info_detail", function () {
        $(this).find(".info_hide").removeClass("hide");
        console.log("in");
    });
    $(document).on("mouseout", ".info_detail", function(){
        $(this).find(".info_hide").addClass("hide");
        console.log("out");
    });

    function createOptions(rows){
        for(i in rows){
            var option = '<option value='+rows[i].id+'>'+rows[i].cameraName+'</option>';

            $("#cameraName").append(option);
        }
    }

    function getCameraNameById(id){
        $.ajax({
            url: "/console/camera_management/get/" + id,
            timeout : timeout_network,
            type: "get",
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status) {
                    case "SUCCEED" :
                        $("#cameraName").val(r.cameraName);

                        break

                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取摄像头名称失败");

                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                        }

                        $("#dialog-return").modal("show");

                        break
                }
            },
            error: function (r) {

                $("#dialog-return").find(".modal-body").html("网络错误");
                $("#dialog-return").modal("show");
            }

        });
    }

    function refreshChartAndTable(data){
        $.ajaxSettings.async = false;

        $.get("/console/camera_info/search_hour/", data, function(r, status) {
            console.log("recived chart data : "+r.data.chartData);
            console.log("recived chart data : "+r.data.rankData);

            var chart_data = r.data.chartData;
            var rank_data = r.data.rankData;

            if(rank_data.length == 0){
                $(".searchResult").empty();

                $(".searchResult").append("未查询到数据");
            } else {
                $(".searchResult").empty();
            }

            data_chart.datasets[0].data = chart_data;

            //设置标题信息

            $("#datepicker").val(data.date);

            $("#personInfo").empty();
            $("#time_show").empty();

            var length = rank_data.length;
            for(var i = 0; i < length; i++){
                var content = rank_data[i];

                console.log(content);

                // $("#personInfo").append("<div class=\"col-sm-3 col-md-6 col-lg-6\">" +
                //     "<div class=\"col-sm-6 col-md-6 col-lg-6\">"+
                //     "<img src=\""+content.feature+"\" style='height: 10em'></img>" +
                //     "</div>"+
                //     "<div class=\"col-sm-6 col-md-6 col-lg-6\">" +
                //     "<label>排行: "+i+"</label><br/>" +
                //     "<label>ID: "+content.personid+"</label><br/>" +
                //     "<label>姓名: "+content.personname+"</label><br/>" +
                //     "<label>编号: "+content.personnumber+"</label><br/>" +
                //     "<label>出现次数: "+content.times+"</label><br>" +
                //     "</div>" +
                //     "</div>");
                var personnumber = content.personnumber
                var sign = 0;

                if(content.personname == "Visitor"){
                    personnumber = content.personid;
                    sign = 1;
                }

                $("#personInfo").append( createPersonInfo(content.feature, parseInt(i)+1, content.personname, personnumber, content.times, sign) )


            }

            //lineChartData.datasets[0].data = chart_data;
            // debugger;
            // var ctx=document.getElementById("line-chart").getContext("2d");
            // myLine = new Chart(ctx).Line(lineChartData,defaults);

            displayLineChart();

            if(length == 0){
                $("#personInfo").append("没有查询到数据！");

            }
        });

        var time = $("#datepicker").val().split(" ")[1];
        var hour = time.split(":")[0];

        $("#time_show").append(time+" - "+(parseInt(hour)+1)+":"+time.split(":")[1]);

        $.ajaxSettings.async = true;
    }


    function createPersonInfo(picUrl, rank, name, personNumber, times, sign){
        // return "<div class=\"col-md-6 col-lg-6 col-xs-12 col-sm-12 panel-body\" style=\"padding-left: 3px; \">" +
        //     "    <div align='right' style='padding-right: 0px;width: 50%; float:left;box-sizing: border-box; width: 40%'>" +
        //     "            <img src=\""+picUrl+"\" class='img-responsive' style='height: 10em; vertical-align: middle; '>" +
        //     "    </div>" +
        //     "    <div style='padding-left: 0px;width: 50%; float:left;box-sizing: border-box; width: 60%; padding-left: 5px'>" +
        //     "        <label>排行: "+rank+"</label><br/>" +
        //     "        <label>姓名: "+name+"</label><br/>" +
        //     "        <label>编号: "+personNumber+"</label><br/>" +
        //     "        <label>出现次数: "+times+"</label><br/>" +
        //     "    </div>" +
        //     "</div>"

        // return "<div class=\"col-md-8 col-lg-8 col-xs-6  col-sm-6 \" style=\"width: 18em;padding-left: 3px;  margin:10px 10px 10px 35px\">" +
        //     "            <img src=\""+picUrl+"\" class='img-responsive col-md-6 col-lg-6 col-sm-6 col-xs-6' style='padding-left:5px;padding-right:5px; height: 10em; vertical-align: middle; '>" +
        //     "    <div class=\"col-md-6 col-lg-6 col-sm-4 col-xs-4\" >" +
        //     "        <label style=\"white-space:nowrap\">排行: "+rank+"</label><br/>" +
        //     "        <label style=\"white-space:nowrap\">姓名: "+name+"</label><br/>" +
        //     "        <label style=\"white-space:nowrap\">编号: "+personNumber+"</label><br/>" +
        //     "        <label style=\"white-space:nowrap\">出现次数: "+times+"</label><br/>" +
        //     "    </div>" +
        //     "</div>"

        // return "<div>"+
        //     "<img src=\""+picUrl+"\" class='img-responsive' style='height: 10em; vertical-align: middle; '>" +
        //
        //     "<div class='person_info'>" +
        //     "       <label style=\"white-space:nowrap\">排行: "+rank+"</label><br/>" +
        //          "        <label style=\"white-space:nowrap\">姓名: "+name+"</label><br/>" +
        //          "        <label style=\"white-space:nowrap\">编号: "+personNumber+"</label><br/>" +
        //          "        <label style=\"white-space:nowrap\">出现次数: "+times+"</label><br/>" +
        //     "    </div>" +
        //     "</div>";

        if(sign == 0){
            return "<div class=\"col-lg-3 col-md-3 col-sm-4 col-xs-6 info_detail\" tabindex=\"0\" style=\"position:relative;width:10em;padding-left:0;padding-right:0;\"> " +
                "<img src=\""+picUrl+"\" style=\"width:10em;\"/>" +

                "<div style=\"position:absolute; left:0; top:0;height:100%; width : 10em; background:#050404; opacity:0.5\"></div>"+

                "<div style=\"position:absolute;left:0;bottom:0;width:100%\">"+
                "<label class=\"info_hide hide\" style=\"font-size:12px; color:#ffffff;text-align:center;width: 100%;\">排行: "+rank+"</label>"+
                "<label class=\"info_hide hide\" style=\"font-size:12px; color:#ffffff;text-align:center;width: 100%;\">编号: "+personNumber+"</label>"+
                "<label style=\"font-size:12px; color:#ffffff;text-align:center;width: 100%;\">姓名: "+name+"</label>"+
                "<label style=\"font-size:12px; color:#ffffff;text-align:center;width: 100%;\">出现次数: "+times+"</label>"+
                "</div>"+

                "</div>";

        } else {
            return "<div class=\"col-lg-3 col-md-3 col-sm-4 col-xs-6 info_detail\" tabindex=\"0\" style=\"position:relative;width:10em;padding-left:0;padding-right:0;\"> " +
                "<img src=\""+picUrl+"\" style=\"width:10em;\"/>" +

                "<div style=\"position:absolute; left:0; top:0;height:100%; width : 10em; background:#050404; opacity:0.5\"></div>"+

                "<div style=\"position:absolute;left:0;bottom:0;width:100%\">"+
                "<label class=\"info_hide hide\" style=\"font-size:12px; color:#ffffff;text-align:center;width: 100%;\">排行: "+rank+"</label>"+
                "<label class=\"info_hide hide\" style=\"font-size:12px; color:#ffffff;text-align:center;width: 100%;\">编号: "+personNumber+"</label>"+
                "<label style=\"font-size:12px; color:#ffffff;text-align:center;width: 100%;\">"+name+"</label>"+
                "<label style=\"font-size:12px; color:#ffffff;text-align:center;width: 100%;\">出现次数: "+times+"</label>"+
                "</div>"+

                "</div>";

        }


    }


    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return null;
    }

    function displayLineChart() {
    	console.log(document.getElementById("line-chart"));
        var ctx = document.getElementById("line-chart").getContext("2d");
        var options = {
            responsive:true,
            showTooltips: false
        };
        var lineChart = new Chart(ctx).Line(data_chart, options);
    }

    function _formatte_camera_id(value, row, index) {
        return '<input id="cameraID" name="cameraId" type="radio" value="' + value + '" />';
    }

    function _formatted_select(value, row, index) {
        return value='true' ? "是":"否" ;
    }

    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })

    $(".searchData").click(function () {
        var date = $("#datepicker").val();
        //var id_select = $("ul").find("li[class$=focused]")[0];
        var id_select = $("#cameraName").val();

        if(date == ""){
            $("#dialog-return").find(".modal-body").html("请选择日期");
            $("#dialog-return").modal("show");
            return ;
        }

        if(id_select == undefined){
            $("#dialog-return").find(".modal-body").html("请选择摄像头");
            $("#dialog-return").modal("show");
            return ;
        }
        console.log("choosed date : "+ date);

        $("#time_show").empty();

        var new_data = {
            "cameraID": id_select,
            "date": date
        }

        refreshChartAndTable(new_data);

    });

    $(".btn.btn-primary.add-new-user").click(function () {
        var id_ = $("input[id='cameraID']:checked").val();

        if(id_ == undefined){
            $("#dialog-return").find(".modal-body").html("请选择摄像头");
            $("#dialog-return").modal("show");

            return ;
        }
        id = id_;

        getCameraNameById(id_);

        $(".add-new-user-close").click();

        var data = {
            "cameraID": id,
            "date": date
        }

        $("#datepicker").val(date);

        refreshChartAndTable(data);

    })

    $(window).resize( function () {
        $("#line-chart").height((window.innerHeight/ratio));

        console.log($("#line-chart").height());
    } );

</script>

</body>
</html>