<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>

    <!--add-->
    <link href="/style/jquery-ui.css" rel="stylesheet">

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <script src="/javascript/jquery.metisMenu.js"></script>
    <script src="/javascript/custom-scripts.js"></script>

    <script src="/javascript/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <!-- DATA TABLE SCRIPTS -->
    <script src="/javascript/jquery.dataTables.js"></script>
    <script src="/javascript/dataTables.bootstrap.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>

    <script src="/javascript/bootstrap.min.js"></script>


    <style>
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }
        .kv-avatar {
            display: inline-block;
        }
        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }
        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }
        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        .search{
            height: 10em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W100 .th-inner{width:100px !important;}
        .W30 {width:30px !important;}
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <strong> &nbsp &nbsp &nbsp BeyondSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--区域安全防范系统-->
                <li>
                    <a class="active-menu"><i class="fa fa-sitemap"></i> 区域安全防范系统<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--轨迹图-->
                        <li>
                            <a href="/console/trace_info">轨迹图</a>
                        </li>

                        <!--轨迹统计图表-->
                        <li>
                            <a href="/console/camera_info" class="active-menu">轨迹统计图表</a>
                        </li>

                        <!--报警设置-->
                        <li>
                            <a href="/console/contacts_management">报警设置</a>
                        </li>
                    </ul>
                </li>

                <!--内部人员管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 内部人员管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--员工管理-->
                        <li>
                            <a href="/console/employee_management">员工管理</a>
                        </li>

                        <!--访客管理-->
                        <li>
                            <a href="/console/visitor_management">访客管理</a>
                        </li>

                        <!--考勤信息-->
                        <li>
                            <a href="/console/attendance_management">考勤信息</a>
                        </li>
                    </ul>
                </li>

                <!--系统管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--服务器管理-->
                        <li>
                            <a href="/console/server_management">服务器管理</a>
                        </li>

                        <!--服务器信息-->
                        <li>
                            <a href="/console/server_info">服务器信息</a>
                        </li>

                        <!--摄像头管理-->
                        <li>
                            <a href="/console/camera_management">摄像头管理</a>
                        </li>

                        <!--参数设置-->
                        <li>
                            <a href="/console/face_config">参数设置</a>
                        </li>

                        <!--用户管理-->
                        <li>
                            <a href="/console/user_management">用户管理</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        摄像头信息
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <!--main-->
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div  class="panel-heading">
                                <h3>
                                    <lable id="panel-head">日期：</lable>
                                    <input type="text" id="datepicker">

                                    <button class="btn btn-primary searchData">查找</button>
                                </h3>

                            </div>
                            <div class="panel-body">
                                <div class="canvas-wrapper">
                                    <div class="form-group">
                                    <canvas class="main-chart col-sm-12 col-md-12 col-xs-12" id="line-chart" style="display: inline-table;"></canvas>
                                </div>

                                <br>

                                <div>
                                    <h3>
                                        详情：
                                    </h3>

                                    <br>

                                    <div class="row">
                                        <div class="col-md-2 col-sm-0"></div>
                                        <div class="col-md-8 col-sm-12" id="personInfo"></div>
                                        <div class="col-md-2 col-sm-0"></div>
                                    </div>
                                </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--End Advanced Tables -->
            </div>
        </div>
        <!-- /. ROW  -->

    </div>
</div>
<!-- /. PAGE INNER  -->
</div>

<!--弹出框-->
<div id="dialog-user-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">选择摄像头  | <span id="dialog-user-management-update-title"></span></h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal add-new-user" method="POST">
                    <input type="text" style="display:none;" id="id" name="id" />

                    <div class="form-group">
                        <div class="col-sm-22">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive" style="height: 48em; overflow:scroll;">
                                        <table id="cameraList" class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th data-field="id" data-formatter="_formatte_camera_id" data-sortable="true"  style="border:none; " ></th>
                                                <th data-field="cameraName" data-sortable="true" class="W100">摄像头名称</th>
                                                <th data-field="taskId" data-sortable="true" class="W30" style="border:none;" align="center">任务ID</th>
                                                <th data-field="server.serverName" data-sortable="true" class="W100" style="border:none;" align="center">服务器名称</th>
                                                <th data-field="entranceGuardNO" data-sortable="true" class="W100" style="border:none;" align="center">门禁编号</th>
                                                <th data-field="entranceGuard" data-sortable="true" class="W100" style="border:none;" align="center">是否门禁摄像头</th>
                                                <th data-field="enabled" data-sortable="true" class="W100" style="border:none;" align="center">是否启用</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary add-new-user">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    var ischoosedCamera = false;
    var id = getUrlParam("id");

    //获取时间
    var oDate = new Date();
    var date = oDate.getFullYear() + '-'+ (parseInt(oDate.getMonth())+1) +'-'+oDate.getDate();

    var data_chart = {
        labels : ["0","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23"],
        datasets : [
            {
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,1)",
                pointColor : "rgba(151,187,205,1)",
                pointStrokeColor : "#fff",
                data : [0,0,0,0,0,0,0,4,0,0,10,0,0,0,0,0,0,0,0,4,3,0,0,0]
            }
        ]
    };
    //alert(11111);
    var args = window.location.href.split("?");
    //alert(args[1]);
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);
    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })

    $(document).ready(function() {
        $( "#datepicker" ).datepicker({
            dayNamesMin : ["日", "一", "二", "三", "四", "五", "六"],
            /* 每周从周一开始 */
            firstDay : 1,
            /* 区域化月名为中文习惯 */
            monthNames : ["1月", "2月", "3月", "4月", "5月", "6月",
                "7月", "8月", "9月", "10月", "11月", "12月"],
            /* 月份显示在年后面 */
            showMonthAfterYear : true,
            /* 年份后缀字符 */
            yearSuffix : "年",
            /* 格式化中文日期
            （因为月份中已经包含“月”字，所以这里省略） */
            dateFormat : "yy-mm-dd"
        });

        var name="";

        if(id==undefined){
            ischoosedCamera = false;

            $('#cameraList').bootstrapTable({
                method: 'get',
                url: "/console/camera_management/search",
                striped: true,
                dataType: "json",
                pagination: true,
                queryParamsType: "limit",
                singleSelect: true,
                contentType: "application/x-www-form-urlencoded",
                pageSize: 10,
                pageNumber:1,
                search: true,
                showColumns: true,
                showRefresh: true,
                sidePagination: "server", //服务端请求

                showHeader : true,
                //sidePagination : 'server',//服务器端分页
                pageNumber : 1,
                pageList: [5, 10, 20, 50],//分页步进值
                search: true,//显示搜索框
                clickToSelect: false,
                queryParams: function(params) {
                    return {
                        limit: params.limit,
                        offset: params.offset / params.limit,
                        search: $(".search").find("input").val()
                    };
                },
                responseHandler: function(res) {
                    console.log(res);

                    return {
                        "rows": res.rows,
                        "total": res.total
                    };
                }

            });

            $("#dialog-user-management-update").modal("show");
        } else {
            ischoosedCamera = true;
        }

        if(ischoosedCamera) {

            var data = {
                "cameraID": id,
                "date": date
            }

            $("#datepicker").val(date);

            refreshChartAndTable(data);

            $.ajax({
                type: "get",
                url: "/console/user_management/getAdminInfo",
                dataType: "json",
                success: function (json) {
                    switch (json.status) {
                        case "SUCCEED" :
                            $("#adminName").append(json.adminName);
                            $("#adminEmail").append(json.adminEmail);
                            console.log("管理员姓名 ： " + json.adminName);
                            console.log("管理员邮箱 ： " + json.adminEmail);

                            break;
                        case "FAILED" :
                            $("#dialog-return").find(".modal-body").html("获取管理员信息失败");
                            $("#dialog-return").modal("show");

                            break;
                    }


                },
                error: function () {
                    $("#dialog-return").find(".modal-body").html("获取管理员信息失败---网络错误");
                    $("#dialog-return").modal("show");
                }
            });
        }
    });

    function refreshChartAndTable(data){
        $.ajaxSettings.async = false;

        $.get("/console/camera_info/search/", data, function(r, status) {
            console.log("recived chart data : "+r.data.chartData);
            console.log("recived chart data : "+r.data.rankData);

            var chart_data = r.data.chartData;
            var rank_data = r.data.rankData;

            data_chart.datasets[0].data = chart_data;

            //设置标题信息
            $("#panel-head").empty();

            $("#panel-head").append(r.data.cameraName+": ");
            $("#datepicker").val(data.date);

            $("#personInfo").empty();

            var length = rank_data.length;
            for(var i = 0; i < length; i++){
                var content = rank_data[i];

                console.log(content);

                $("#personInfo").append("<div class=\"col-sm-3 col-md-6 col-lg-6\">" +
                    "<div class=\"col-sm-6 col-md-6 col-lg-6\">"+
                    "<img src=\""+content.feature+"\" style='height: 10em'></img>" +
                    "</div>"+
                    "<div class=\"col-sm-6 col-md-6 col-lg-6\">" +
                    "<label>排行: "+i+"</label><br/>" +
                    "<label>ID: "+content.personid+"</label><br/>" +
                    "<label>姓名: "+content.personname+"</label><br/>" +
                    "<label>编号: "+content.personnumber+"</label><br/>" +
                    "<label>出现次数: "+content.times+"</label><br>" +
                    "</div>" +
                    "</div>");
            }

            //lineChartData.datasets[0].data = chart_data;
            // debugger;
            // var ctx=document.getElementById("line-chart").getContext("2d");
            // myLine = new Chart(ctx).Line(lineChartData,defaults);

            displayLineChart();

            if(length == 0){
                $("#personInfo").append("没有查询到数据！");

            }
        });

        $.ajaxSettings.async = true;
    }

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }

    function makeContent(ranking, id, name, time,number, picUrl){
        return "<div class=\"col-xs-12 col-sm-6\">" +
            "<img src=\""+picUrl+"\"></img>" +
            "<label value=\"Ranking: \""+ranking+"></label>" +
            "<label value=\"ID: \""+id+"></label>" +
            "<label value=\"Name: \""+name+"></label>" +
            "<label value=\"PersonNumber: \""+number+"></label>" +
            "<label value=\"Time: \""+time+"></label>" +
            "</div>"
    }

    function displayLineChart() {
        var ctx = document.getElementById("line-chart").getContext("2d");
        var options = {};
        var lineChart = new Chart(ctx).Line(data_chart, options);
    }

    function _formatte_camera_id(value, row, index) {
        return '<input id="cameraID" name="cameraId" type="radio" value="' + value + '" />';
    }

    $(".searchData").click(function () {
        var date = $( "#datepicker" ).val();

        console.log("choosed date : "+ date);

        $.ajax({
            type: "get",
            url: "/console/user_management/getAdminInfo",
            dataType: "json",
            success: function (json) {
                switch (json.status) {
                    case "SUCCEED" :
                        $("#adminName").append(json.adminName);
                        $("#adminEmail").append(json.adminEmail);
                        console.log("管理员姓名 ： " + json.adminName);
                        console.log("管理员邮箱 ： " + json.adminEmail);

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取管理员信息失败");
                        $("#dialog-return").modal("show");

                        break;
                }


            },
            error: function () {
                $("#dialog-return").find(".modal-body").html("获取管理员信息失败---网络错误");
                $("#dialog-return").modal("show");
            }
        });

        var new_data = {
            "cameraID": id,
            "date": date
        }

        refreshChartAndTable(new_data);
    });

    $(".btn.btn-primary.add-new-user").click(function () {
        var id_ = $("input[id='cameraID']:checked").val();

        if(id_ == undefined){
            $("#dialog-return").find(".modal-body").html("请选择摄像头");
            $("#dialog-return").modal("show");

            return ;
        }
        id = id_;

        $(".add-new-user-close").click();

        var data = {
            "cameraID": id,
            "date": date
        }

        $("#datepicker").val(date);

        refreshChartAndTable(data);

    })
</script>

</body>
</html>