<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BEYONDSOFT</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <link href="/style/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <script type="text/javascript" src="/javascript/jquery-1.11.1.min.js" charset="UTF-8"></script>
    <script src="/javascript/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.backstretch.min.js"></script>

    <script src="/javascript/jquery.metisMenu.js"></script>
    <script src="/javascript/custom-scripts.js"></script>

    <script src="/javascript/bootstrap-table.min.js"></script>

    <!--datePicker-->
    <link href="/style/jquery-ui.css" rel="stylesheet">
    <script src="/javascript/jquery-ui.js"></script>

    <!--tableExport-->
    <script src="/javascript/tableExport.js"></script>
    <script src="/javascript/bootstrap-table-export.js"></script>

    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 30em;
            width: 100%;
        }

        .navbar-brand-right_{
            float:right;
        }
        .search{
            height: 2em;
        }
        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }
        .datePicker{
            width: 36em;
        }
        .datePicker_{
            width: 15em;
        }

        table thead th{
            background:#275AB2;
        }
        thead{
            color:#FFFFFF;
        }

        .search{
            padding-bottom: 1em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W150 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>
</head>
<body>
<script>
    window.sign = 0;//0:add, 1:update
</script>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" > <strong> &nbsp &nbsp &nbsp BeyondSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--区域安全防范系统-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 区域安全防范系统<span class="fa arrow"></span></a>
                    <ul class="nav">
                        <!--轨迹图-->
                        <li>
                            <a href="/console/trace_info">轨迹图</a>
                        </li>

                        <!--轨迹统计图表-->
                        <li>
                            <a href="/console/camera_info">轨迹统计图表</a>
                        </li>

                        <!--报警设置-->
                        <li>
                            <a href="/console/contacts_management">报警设置</a>
                        </li>
                    </ul>
                </li>

                <!--内部人员管理-->
                <li>
                    <a class="active-menu"><i class="fa fa-sitemap"></i> 内部人员管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <!--员工管理-->
                        <li>
                            <a href="/console/employee_management">员工管理</a>
                        </li>

                        <!--访客管理-->
                        <li>
                            <a href="/console/visitor_management">访客管理</a>
                        </li>

                        <!--考勤信息-->
                        <li>
                            <a href="/console/attendance_management" class="active-menu-item">考勤信息</a>
                        </li>
                    </ul>
                </li>

                <!--系统管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
                    <ul class="nav">
                        <!--服务器管理-->
                        <li>
                            <a href="/console/server_management">服务器管理</a>
                        </li>

                        <!--服务器信息-->
                        <li>
                            <a href="/console/server_info">服务器信息</a>
                        </li>

                        <!--摄像头管理-->
                        <li>
                            <a href="/console/camera_management">摄像头管理</a>
                        </li>

                        <!--参数设置-->
                        <li>
                            <a href="/console/face_config">参数设置</a>
                        </li>

                        <!--用户管理-->
                        <li>
                            <a href="/console/user_management">用户管理</a>
                        </li>

                        <!--修改密码-->
                        <li>
                            <a href="/console/user_management">修改密码</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header"style="color: #FFFFFF;">
                        个人中心
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>修改密码</div>
                        <div class="panel-body">
                            <form class="form-horizontal form-profile-save" >
                                <!--<input type="text" style="display:none;" id="id" name="id" th:value="${user.id}" />-->
                                <!--<input type="text" style="display:none;" id="version" name="version" th:value="${user.version}" />-->
                                <!--<div class="form-group">-->
                                    <!--<label for="username" class="col-sm-3 control-label">Username</label>-->
                                    <!--<div class="col-sm-5">-->
                                        <!--<input type="text" class="form-control" id="username" name="username" th:value="${user.username}" data-toggle="tooltip" data-placement="top" maxlength="30" required="required" />-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-4"></div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="firstName" class="col-sm-3 control-label">First Name</label>-->
                                    <!--<div class="col-sm-5">-->
                                        <!--<input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}" maxlength="30" />-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-4"></div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="lastName" class="col-sm-3 control-label">Last Name</label>-->
                                    <!--<div class="col-sm-5">-->
                                        <!--<input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}" maxlength="30" />-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-4"></div>-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label for="email" class="col-sm-3 control-label">Email</label>-->
                                    <!--<div class="col-sm-5">-->
                                        <!--<input type="email" class="form-control" id="email" name="email" th:value="${user.email}" data-toggle="tooltip" data-placement="top" maxlength="200" placeholder="e.g john@example.com" />-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-4"></div>-->
                                <!--</div>-->
                                <div class="form-group" >
                                    <label for="password" class="col-sm-3 control-label">密码</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control"  id="password" name="password" data-toggle="tooltip" maxlength="20" data-placement="bottom" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group" >
                                    <label for="confirmPassword" class="col-sm-3 control-label">确认密码</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="20" />
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                                <div class="form-group" style="width: 20em">
                                    <div class="col-md-12 widget-left">
                                        <button type="button" class="btn btn-primary form-profile-save pull-left">保存修改</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!--/.col-->
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
</div>
<!-- /. PAGE INNER  -->
</div>

<!--message alter-->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(".form-profile-save").click(function () {
        var isComplete = true;

        var pass = $("#password").val();
        var confirmPass = $("#confirmPassword").val();

        if(pass == "" || pass == undefined){

        }

        if(isComplete){

        } else {
            $("#dialog-return").find
        }
    })
</script>

<script type="text/javascript">
    $(document).ready(function() {
        //初始化table
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var date_month_start = year+"-" + month + "-" + 01;
        var date_month_end = year+"-" + month + "-" + getLastDay(year,month);
        console.log('start date: ' + date_month_start);
        console.log('start date: ' + date_month_end);
        $("#datepicker_start").val(date_month_start);
        $("#datepicker_end").val(date_month_end);

        window.limit;
        window.offset;
        window.search;

        $('#_table_user_search').bootstrapTable({
            method: 'get',
            url: "/console/attendance_management/search",
            striped: true,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            pageNumber:1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求

            showExport: true,                     //是否显示导出
            exportDataType: "all",              //basic', 'all', 'selected'.

            showHeader : true,
            //sidePagination : 'server',//服务器端分页
            pageNumber : 1,
            pageList: [5, 10, 20, 50],//分页步进值
            search: true,//显示搜索框
            clickToSelect: false,
            exportOptions:{
                fileName: '用户列表',  //文件名称设置
                worksheetName: 'sheet1',  //表格工作区名称
                tableName: '用户列表',
                onMsoNumberFormat: doOnMsoNumberFormat,//大概是处理数字的方法
                onCellHtmlData: DoOnCellHtmlData,//这个属性方法可以重新修改每一个单元格的值
            },

            queryParams: function(params) {
                window.limit = params.limit;
                window.offset = params.offset / params.limit;
                window.search = $(".search").find("input").val();

                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,
                    search: $(".search").find("input").val(),
                    startDate:date_month_start,
                    endDate:date_month_end,
                };
            },
            responseHandler: function(res) {
                console.log('row'+res.rows);
                return {
                    "rows": res.rows,
                    "total": res.total
                };
            }
        });

        //初始化日历
        $( "#datepicker_start" ).datepicker({
            dayNamesMin : ["日", "一", "二", "三", "四", "五", "六"],
            /* 每周从周一开始 */
            firstDay : 1,
            /* 区域化月名为中文习惯 */
            monthNames : ["1月", "2月", "3月", "4月", "5月", "6月",
                "7月", "8月", "9月", "10月", "11月", "12月"],
            /* 月份显示在年后面 */
            showMonthAfterYear : true,
            /* 年份后缀字符 */
            yearSuffix : "年",
            /* 格式化中文日期
            （因为月份中已经包含“月”字，所以这里省略） */
            dateFormat : "yy-m-d"
        });
        $( "#datepicker_end" ).datepicker({
            dayNamesMin : ["日", "一", "二", "三", "四", "五", "六"],
            /* 每周从周一开始 */
            firstDay : 1,
            /* 区域化月名为中文习惯 */
            monthNames : ["1月", "2月", "3月", "4月", "5月", "6月",
                "7月", "8月", "9月", "10月", "11月", "12月"],
            /* 月份显示在年后面 */
            showMonthAfterYear : true,
            /* 年份后缀字符 */
            yearSuffix : "年",
            /* 格式化中文日期
            （因为月份中已经包含“月”字，所以这里省略） */
            dateFormat : "yy-m-d"
        });

        $.ajax({
            type: "get",
            url: "/console/user_management/getAdminInfo",
            dataType:"json",
            success : function(json) {
                switch (json.status){
                    case "SUCCEED" :
                        $("#adminName").append(json.adminName);
                        $("#adminEmail").append(json.adminEmail);
                        console.log("管理员姓名 ： "+json.adminName);
                        console.log("管理员邮箱 ： "+json.adminEmail);

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取管理员信息失败");
                        $("#dialog-return").modal("show");

                        break;
                }


            },
            error : function () {
                $("#dialog-return").find(".modal-body").html("获取管理员信息失败---网络错误");
                $("#dialog-return").modal("show");
            }
        });
    })
    function getLastDay(year,month) {
        var new_year = year;    //取当前的年份
        var new_month = month++;//取下一个月的第一天，方便计算（最后一天不固定）
        if(month>12)            //如果当前大于12月，则年份转到下一年
        {
            new_month -=12;        //月份减
            new_year++;            //年份增
        }
        var new_date = new Date(new_year,new_month,1);                //取当年当月中的第一天
        return (new Date(new_date.getTime()-1000*60*60*24)).getDate();//获取当月最后一天日期
    }

    $("#btn_download").click(function () {
        $('#_table_user_search').tableExport({
            type: 'excel',
            exportDataType: "all",
            escape: 'false',
            ignoreColumn: [0],  //忽略某一列的索引
            fileName: '用户列表',  //文件名称设置
            worksheetName: 'sheet1',  //表格工作区名称
            tableName: '用户列表',

        });
    });
</script>

</body>
</html>