<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>


    <!--<script type="text/javascript" src="/javascript/jquery-1.11.1.min.js" charset="UTF-8"></script>-->
    <!--<script src="/javascript/bootstrap.min.js"></script>-->

    <!--<script src="/assets/js/jquery.backstretch.min.js"></script>-->

    <!--&lt;!&ndash; Metis Menu Js &ndash;&gt;-->
    <!--<script src="/javascript/jquery.metisMenu.js"></script>-->

    <!--&lt;!&ndash; DATA TABLE SCRIPTS &ndash;&gt;-->
    <!--<script src="/javascript/jquery.dataTables.js"></script>-->
    <!--<script src="/javascript/dataTables.bootstrap.js"></script>-->

    <!--<script src="/javascript/custom-scripts.js"></script>-->

    <!--&lt;!&ndash;<script src="/javascript/jquery-1.11.1.min.js"></script>&ndash;&gt;-->
    <!--<script src="/javascript/bootstrap-table.min.js"></script>-->

    <!--<script src="/javascript/jquery-ui.js"></script>-->

    <script src="/assets/js/jquery-1.11.1.min.js"></script>

    <!--datePicker-->
    <script src="/javascript/jquery-ui.js"></script>

    <script src="/assets/js/jquery.backstretch.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

    <!-- Bootstrap Js -->
    <script src="/javascript/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <!-- DATA TABLE SCRIPTS -->
    <script src="/javascript/jquery.dataTables.js"></script>
    <script src="/javascript/dataTables.bootstrap.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>

    <script>
        function _set(el, message) {
            el.addClass("alert-danger");
            el.attr("title", message);
            el.tooltip('show');
        }
    </script>

    <style>
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar {
            display: inline-block;
        }

        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }

        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }

        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        .vertical-container{
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }

    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <strong> &nbsp &nbsp &nbsp BeyondSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br></br>
                </li>

                <!--区域安全防范系统-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 区域安全防范系统<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--轨迹图-->
                        <li>
                            <a href="/console/trace_info">轨迹图</a>
                        </li>

                        <!--轨迹统计图表-->
                        <li>
                            <a href="/console/camera_info">轨迹统计图表</a>
                        </li>

                        <!--报警设置-->
                        <li>
                            <a href="/console/contacts_management">报警设置</a>
                        </li>
                    </ul>
                </li>

                <!--内部人员管理-->
                <li>
                    <a class="active-menu"><i class="fa fa-sitemap"></i> 内部人员管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--员工管理-->
                        <li>
                            <a href="/console/employee_management" class="active-menu">员工管理</a>
                        </li>

                        <!--访客管理-->
                        <li>
                            <a href="/console/visitor_management">访客管理</a>
                        </li>

                        <!--考勤信息-->
                        <li>
                            <a href="/console/attendance_management">考勤信息</a>
                        </li>
                    </ul>
                </li>

                <!--系统管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--服务器管理-->
                        <li>
                            <a href="/console/server_management">服务器管理</a>
                        </li>

                        <!--服务器信息-->
                        <li>
                            <a href="/console/server_info">服务器信息</a>
                        </li>

                        <!--摄像头管理-->
                        <li>
                            <a href="/console/camera_management">摄像头管理</a>
                        </li>

                        <!--参数设置-->
                        <li>
                            <a href="/console/face_config">参数设置</a>
                        </li>

                        <!--用户管理-->
                        <li>
                            <a href="/console/user_management">用户管理</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        员工管理
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive" style="height: 48em; overflow:scroll;">

                                <table id="table_employee" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th data-field="userid" data-formatter="_formatte_user_id"></th>

                                        <th data-field="name" data-formatter="_formatte_name" data-sortable="true" class="W30" style="border:none;">
                                            姓名
                                        </th>
                                        <th data-field="personNumber" data-sortable="true" class="W30" style="border:none;">
                                            员工编号
                                        </th>
                                        <th data-field="cardNumber" data-sortable="true" class="W30" style="border:none;">
                                            卡号
                                        </th>
                                        <th data-field="IDNumber" data-sortable="true" class="W30" style="border:none;">
                                            身份证号
                                        </th>
                                        <th data-field="phoneNumber" data-sortable="true" class="W30" style="border:none;">
                                            电话号码
                                        </th>

                                        <th data-field="updateDateString" data-sortable="true" class="W30" style="border:none;">
                                            修改时间
                                        </th>
                                        <th data-field="feature" data-formatter="_formatte_locale_image" data-sortable="true" class="W100" style="border:none;">
                                            图像信息
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>

                            <button class="btn btn-primary open-add-new-user-dialog" data-toggle="modal">新增
                            </button>
                            <button class="btn btn-success open-update-use-dialog" data-toggle="modal">修改
                            </button>
                            <button class="btn btn-danger delete-employee-dialog">删除</button>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>

<!--//弹出框-->
<div id="dialog-employee-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">员工管理 | <span id="dialog-employee-management-update-title"></span></h4>
            </div>
            <div class="modal-body">
                <form id="input_form" role="form" class="form-horizontal add-new-user"
                      enctype="multipart/form-data"
                      method="POST" method="POST">
                    <input type="text" style="display:none;" id="id" name="id"/>
                    <input type="text" style="display:none;" id="version" name="version"/>

                    <div class="row">
                        <div class="col-sm-5 text-center ">
                            <div class="thumbnail">
                                <img id="choosedPic" style="height: 160px" src="/images/default_avatar_male.jpg">
                                <div class="caption">
                                    <p>
                                        <label class="btn btn-primary choosePic" for="avatar-2">选择文件</label>
                                        <input id="avatar-2" name="avatar-2" onchange="choosePic_complete(this);" type="file" style="display:none"/>

                                        <a class="btn btn-default deletePic" role="button" style="display: none">删除图片</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-7 ">
                            <div class="form-group">
                                <label for="personName" class="col-sm-4 control-label">姓名</label>
                                <div class="col-sm-7">
                                    <input type="text" minlength="2" class="form-control" id="personName" name="personName"
                                           data-toggle="tooltip" data-placement="top" maxlength="30"
                                           required="required"/>
                                </div>

                                <div class="col-sm-1"></div>
                            </div>
                            <div class="form-group">
                                <label for="personNumber" class="col-sm-4 control-label">员工编号</label>
                                <div class="col-sm-7">
                                    <input type="text" type="number" class="form-control" id="personNumber" name="personNumber"
                                           maxlength="30" required="required"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="form-group">
                                <label for="cardNumber" class="col-sm-4 control-label">卡号</label>
                                <div class="col-sm-7">
                                    <input type="text" type="number" class="form-control" id="cardNumber" name="cardNumber"
                                           maxlength="30" required="required"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="form-group">
                                <label for="IDNumber" class="col-sm-4 control-label">身份证号</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="IDNumber" name="IDNumber"
                                           maxlength="18" required="required"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="form-group ">
                                <label for="phoneNumber" class="col-sm-4 control-label">电话号码</label>
                                <div class="col-sm-7">
                                    <input type="text" type="number" class="form-control" id="phoneNumber" name="phoneNumber"
                                           maxlength="11" required="required"/>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-primary add-new-user">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Custom Js -->
<script>
    var i = 0;

    function _formatte_name(value,row,index) {
        if (value != undefined) {
            return '<a href="/console/trace_info?id=' + row.id + '&type=employee">' + value + '</a>';
        }
    }

    $(document).ready(function () {
        $('#table_employee').bootstrapTable({
            method: 'get',
            url: "/console/employee_management/search",
            striped: true,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            pageSize: 10,
            pageNumber:1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求
            showHeader : true,
            //sidePagination : 'server',//服务器端分页
            pageNumber : 1,
            pageList: [5, 10, 20, 50],//分页步进值
            search: true,//显示搜索框
            clickToSelect: false,
            queryParams: function (params) {
                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,
                    search: $(".search").find("input").val()
                };
            },
            responseHandler: function (res) {
                return {
                    "rows": res.rows,
                    "total": res.total
                };
            }
        });

        $.ajax({
            type: "get",
            url: "/console/user_management/getAdminInfo",
            dataType:"json",
            success : function(json) {
                switch (json.status){
                    case "SUCCEED" :
                        $("#adminName").append(json.adminName);
                        $("#adminEmail").append(json.adminEmail);
                        console.log("管理员姓名 ： "+json.adminName);
                        console.log("管理员邮箱 ： "+json.adminEmail);

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取管理员信息失败");
                        $("#dialog-return").modal("show");

                        break;
                }


            },
            error : function () {
                $("#dialog-return").find(".modal-body").html("获取管理员信息失败---网络错误");
                $("#dialog-return").modal("show");
            }
        });
    });
</script>
<!-- Custom Js -->



<script>
    window.flag;
    window.id;

    !function ($) {
        $(document).on("click", "ul.nav li.parent > a > span.icon", function () {
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');
    });

    function _reset(from) {
        from[0].reset();
        _reset_input(from.find("input"));
    }

    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');
    }

    function _set(el, message) {
        el.tooltip('destroy');

        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $(".btn.btn-primary.open-add-new-user-dialog").click(function () {
        window.flag='add';

        _reset($(".form-horizontal.add-new-user"));
        $("#dialog-employee-management-update-title").html("添加员工");
        $("#dialog-employee-management-update").modal("show");
    });

    $(".btn.btn-success.open-update-use-dialog").click(function () {
        var id = $("input[type='radio']:checked").val();
        window.id = id;
        console.log('clicked update');

        console.log(id);
        if (id != undefined) {
            window.flag='update'

            _reset($(".form-horizontal.add-new-user"));
            // 读取用户选中的用户信息
            $.get("/console/employee_management/get/" + id, null, function (r, status) {
                console.log(r);

                $("#dialog-employee-management-update-title").html("更新员工信息");
                $("#dialog-employee-management-update").modal("show");

                $("#dialog-employee-management-update").find("input[id='version']").val(r.version);
                $("#dialog-employee-management-update").find("input[id='personName']").val(r.name);
                $("#dialog-employee-management-update").find("input[id='personNumber']").val(r.personNumber);
                $("#dialog-employee-management-update").find("input[id='cardNumber']").val(r.cardNumber);
                $("#dialog-employee-management-update").find("input[id='IDNumber']").val(r.IDNumber);
                $("#dialog-employee-management-update").find("input[id='phoneNumber']").val(r.phoneNumber);

                $("#choosedPic").attr('src',src=r.feature);
            });

        } else {
            $("#dialog-return").find(".modal-body").html("请选中员工后操作");
            $("#dialog-return").modal("show");
        }
    });


    $(".btn.btn-primary.add-new-user").click(function () {
        var isComplete = true;
        var isFormatted = true;

        //check input
        if($("input[id='personName']").val() == ""){
            _set($("input[id='personName']"), "请输入姓名");
            isComplete = false;
        }
        if($("input[id='personNumber']").val() == ""){
            _set($("input[id='personNumber']"), "请输入编号");
            isComplete = false;
        }
        if($("input[id='cardNumber']").val() == ""){
            _set($("input[id='cardNumber']"), "请输入卡号");
            isComplete = false;
        }
        if($("input[id='IDNumber']").val() ==""){
            _set($("input[id='IDNumber']"), "请输入身份证号");
            isComplete = false;
        }
        if($("input[id='phoneNumber']").val() ==""){
            _set($("input[id='phoneNumber']"), "请输入电话号码");
            isComplete = false;
        }

        if(isComplete) {
            _reset_input( $("#dialog-employee-management-update").find(".form-group").find("input"));

            //check input format
            if( !isName( $("input[id='personName']").val() ) ){
                isFormatted = false;

                _set($("input[id='personName']"), "请输入包含中文，英文，数字和-的名字");
            }
            if( !isIDNumber( $("input[id='IDNumber']").val() ) ){
                isFormatted = false;

                _set($("input[id='IDNumber']"), "请输入合法身份证号");
            }
            if( !isPhoneNumber( $("input[id='phoneNumber']").val() ) ){
                isFormatted = false;

                _set($("input[id='phoneNumber']"), "请输入合法电话号码");
            }


            if(isFormatted) {

                var flag_ = window.flag;
                console.log(window.flag);

                var form = new FormData();

                var file = $("#avatar-2")[0].files[0];
                console.log(file);
                if(file != undefined){
                    if( !isPic(file.name) ){
                        $("#dialog-return").find(".modal-body").html("请选择格式为png,jpg,jpeg,bmp的图片");


                        $("#dialog-return").modal("show");

                        return ;
                    }
                }

                form.append("file", file);

                if (window.flag == "update") {
                    form.append("personID", window.id);
                    form.append("version", $("input[id='version']").val());

                    console.log($("input[id='version']").val());
                }

                form.append("personName", $("input[id='personName']").val());
                form.append("personNumber", $("input[id='personNumber']").val());
                form.append("cardNumber", $("input[id='cardNumber']").val());
                form.append("IDNumber", $("input[id='IDNumber']").val());
                form.append("phoneNumber", $("input[id='phoneNumber']").val());

                $.ajax({
                    url: "/console/employee_management/" + flag,
                    type: "post",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        switch (r.status) {
                            case "SUCCEED" :
                                if (flag_ == 'add') {
                                    $("#dialog-return").find(".modal-body").html("新增成功");
                                } else {
                                    $("#dialog-return").find(".modal-body").html("修改成功");
                                }


                                $("#dialog-return").modal("show");

                                $(".btn.btn-default.add-new-user-close").click();


                                $(".panel.panel-default").find("button[name='refresh']").click();

                                break

                            case "FAILED" :
                                if (flag_ == 'add') {
                                    $("#dialog-return").find(".modal-body").html("新增失败");
                                } else {
                                    $("#dialog-return").find(".modal-body").html("修改失败");
                                }

                                $(".btn.btn-default.add-new-user-close").click();

                                $("#dialog-return").modal("show");

                                break
                        }


                        if(r.message != undefined){
                            $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                            $("#dialog-return").modal("show");
                        }
                    },
                    error: function (r) {

                        $("#dialog-return").find(".modal-body").html("Oh snap! System handling failure.");
                        $("#dialog-return").modal("show");
                    }

                });

                flag = '';

                form = '';//避免重复点击
            }
        }
    });

    function isName(val){//包括中文和英文数字-
        var reg = /^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]|[a-zA-Z0-9_-]){1,20}$/;

        return reg.test(val);
    }
    function isPersonName(val){
        reg = /^[\u4E00-\u9FA5]{2,4}$/;//姓名在2-4个字符之间

        return val.match(reg);

    }
    function isIDNumber(val) {
        // 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X
        var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;

        return val.match(reg);
    }
    function isPhoneNumber(val){
        var isPhone = /^([0-9]{3,4}-)?[0-9]{7,8}$/;//手机号码
        var isMob= /^0?1[3|4|5|8][0-9]\d{8}$/;// 座机格式

        return isMob.test(val)||isPhone.test(val)
    }
    function isPic(picture){
        return (/\.(jpg|jpeg|bmp|png)$/).test(picture);
    }

    $(".btn.btn-danger.btn-task-delete-confirm").click(function () {
        console.log('clicked the delete');

        var id = $("input[type='radio']:checked").val();

        var list_id = new Array();

        list_id[0] = (id);

        console.log(list_id);

        var form = new FormData();

        form.append("list_ID", list_id);

        $.ajax({
            url: "/console/employee_management/delete",
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status) {
                    case "SUCCEED" :
                        $("#dialog-return").find(".modal-body").html("删除成功");

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-user-close").click();
                        $(".panel.panel-default").find("button[name='refresh']").click();

                        break

                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("删除失败");
                        $("#dialog-return").modal("show");

                        break
                }
            },
            error: function (r) {

                $("#dialog-return").find(".modal-body").html("Oh snap! System handling failure.");
                $("#dialog-return").modal("show");
            }

        });
    })

    $(".btn.btn-danger.delete-employee-dialog").click(function (){

        var id = $("input[type='radio']:checked").val();
        if (id != undefined) {
            // 读取Project选中的用户信息
            $.get("/console/employee_management/get/" + id, null, function(r, status) {
                $(".bs-example-modal-sm").find(".modal-body").html("是否删除员工：  " + r.name + "?");
                $(".bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
                $(".bs-example-modal-sm").modal("show");
            });
        } else {
            $("#dialog-return").find(".modal-body").html("请选中员工后操作");
            $("#dialog-return").modal("show");
        }

    })

    function _formatte_locale_image(value, row, index) {
        var s = '<a class = "view"  href="javascript:void(0)"><img style="width:100px;"  src="' + value+"&t="+Math.random() +'" /></a>';
        return s;
    }

    function _formatted_select(value, row, index) {
        return value='true' ? "是":"否" ;
    }

    function showChoosedPic(){
        var pic = ''
    }

    function _formatte_user_id(value, row, index) {
        return '<input name="id" type="radio" value="' + value + '" />';
    }

    $("#avatar-2").change(function (event) {
        var file = event.target.files[0];

        if(file.size > 1024*1024*8){
            alert('图片大小不能超过 8MB!');
            return;
        }

        var URL = window.URL || window.webkitURL;

        var imgURL = URL.createObjectURL(file);


        $("#choosedPic").attr('src',src=imgURL);

        console.log(imgURL);
    })

    $(".btn.btn-default.deletePic").click(function () {
        var file_select = $("#avatar-2");

        file_select.after(file_select.clone().val(""));

        file_select.remove();

        $("#choosedPic").attr('src',src="/images/default_avatar_male.jpg");
    })

</script>

</body>
</html>
