<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BEYONDSOFT</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Morris Chart Styles-->

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
    <link href="http://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <script type="text/javascript" src="/javascript/jquery-1.11.1.min.js" charset="UTF-8"></script>
    <script src="/javascript/jquery-ui.js"></script>

    <script src="/javascript/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.backstretch.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <!--<script src="/javascript/jquery-1.11.1.min.js"></script>-->
    <script src="/javascript/bootstrap-table.min.js"></script>
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>


    <style>
        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 35em;
            width: 100%;
        }

        /*table tbody {*/
            /*display:block;*/
            /*height:30em;*/
            /*overflow-y:scroll;*/
        /*}*/
        /*table thead, tbody tr {*/
            /*display:table;*/
            /*width:100%;*/
            /*table-layout:fixed;*/
        /*}*/
        /*table thead {*/
            /*width: calc( 100% - 1em )*/
        /*}*/
        table thead th{
            background:#275AB2;
        }
        thead{
            color:#FFFFFF;
        }

        .navbar-brand-right_{
            float:right;
        }
        .center-vertical {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        .search{
            padding-bottom: 1em;
        }

        .W180{width:180px;}
        .W150{width:150px;}
        .W150 {width:100px !important;}
        .W280{width:280px !important;}
        .W400{width:400px !important;}
        .W100 {width:100px !important;}
        .W30 {width:30px !important;}
    </style>
</head>
<body>
<script>
    window.sign = 0;//0:add, 1:update
</script>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" > <strong> &nbsp &nbsp &nbsp BeyondSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--区域安全防范系统-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 区域安全防范系统<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--轨迹图-->
                        <li>
                            <a href="/console/trace_info">轨迹图</a>
                        </li>

                        <!--轨迹统计图表-->
                        <li>
                            <a href="/console/camera_info">轨迹统计图表</a>
                        </li>

                        <!--告警设置-->
                        <li>
                            <a href="/console/contacts_config">告警设置</a>
                        </li>

                        <!--告警联系人-->
                        <li>
                            <a href="/console/contacts_management">告警联系人</a>
                        </li>
                    </ul>
                </li>

                <!--内部人员管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 内部人员管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--员工管理-->
                        <li>
                            <a href="/console/employee_management">员工管理</a>
                        </li>

                        <!--访客管理-->
                        <li>
                            <a href="/console/visitor_management">访客管理</a>
                        </li>

                        <!--访客记录管理-->
                        <li>
                            <a href="/console/visitorRecord_management">访客记录管理</a>
                        </li>


                        <!--考勤信息-->
                        <li>
                            <a href="/console/attendance_management">考勤信息</a>
                        </li>
                    </ul>
                </li>

                <!--系统管理-->
                <li>
                    <a class="active-menu"><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">                        <!--服务器管理-->
                        <li>
                            <a href="/console/server_management" class="active-menu-item">服务器管理</a>
                        </li>

                        <!--服务器信息-->
                        <li>
                            <a href="/console/server_info">服务器信息</a>
                        </li>

                        <!--摄像头管理-->
                        <li>
                            <a href="/console/camera_management">摄像头管理</a>
                        </li>

                        <!--参数设置-->
                        <li>
                            <a href="/console/face_config">参数设置</a>
                        </li>

                        <!--用户管理-->
                        <li>
                            <a href="/console/user_management">用户管理</a>
                        </li>

                        <!--用户信息修改-->
                        <li>
                            <a href="/console/profile">用户信息修改</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header" style="color: #FFFFFF;">
                        服务器管理
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">

                                <table id="_table_user_search" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th data-field="id" class="W30" data-formatter="_formatte_user_id" data-align="center"></th>
                                        <th data-field="serverName" class="W100" data-formatter="_formatte_name">服务器名称</th>
                                        <th data-field="serverIP" class="W100">IP地址</th>
                                        <th data-field="mainServer" class="W100" data-formatter="_formatted_select">是否为主服务器</th>
                                        <th data-field="updateDateString" class="W100">修改时间</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>

                            <button class="btn btn-primary open-add-new-user-dialog" data-toggle="modal">新增
                            </button>
                            <button class="btn btn-success open-update-use-dialog" data-toggle="modal">修改
                            </button>
                            <button class="btn btn-danger delete-employee-dialog">删除</button>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>

<!--//弹出框-->
<div id="dialog-server-management-update" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">服务器管理  | <span id="dialog-server-management-update-title"></span></h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal add-new-user" method="POST">
                    <!--<input type="text" style="display:none;" id="id" name="id" />-->
                    <input type="text" style="display:none;" id="version" name="version" />

                    <div class="form-group">
                        <label for="serverName" class="col-sm-4 control-label">服务器名称</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="serverName" name="serverName" data-toggle="tooltip" data-placement="top" maxlength="30" required="required" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group">
                        <label for="serverIP" class="col-sm-4 control-label">IP地址</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="serverIP" name="serverIP" maxlength="30" />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group">
                        <label for="isMainServer" class="col-sm-4 control-label">是否为主服务器</label>
                        <div class="col-sm-7">
                            <select id="isMainServer" name="isMainServer" class="form-control" required="required">
                                <option value="False">否</option>
                                <option value="True">是</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 20px;">
                            <button type="button" class="btn btn-primary add-new-user">保存</button>
                            <button type="button" class="btn btn-default add-new-user-close" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Custom Js -->
<script>
    $(document).ready(function() {
        /*bootstrap table*/

        $('#_table_user_search').bootstrapTable({
            method: 'get',
            url: "/console/server_management/search",
            striped: true,
            dataType: "json",
            pagination: true,
            queryParamsType: "limit",
            singleSelect: true,
            contentType: "application/x-www-form-urlencoded",
            pageSize: 10,
            pageNumber:1,
            search: true,
            showColumns: true,
            showRefresh: true,
            sidePagination: "server", //服务端请求
            showHeader : true,
            //sidePagination : 'server',//服务器端分页
            pageNumber : 1,
            pageList: [5, 10, 20, 50],//分页步进值
            search: true,//显示搜索框
            clickToSelect: false,
            queryParams: function(params) {
                return {
                    limit: params.limit,
                    offset: params.offset / params.limit,
                    search: $(".search").find("input").val()
                };
            },
            responseHandler: function(res) {
                return {
                    "rows": res.rows,
                    "total": res.total
                };
            }
        });

        $.ajax({
            type: "get",
            url: "/console/user_management/getAdminInfo",
            dataType:"json",
            success : function(json) {
                switch (json.status){
                    case "SUCCEED" :
                        $("#adminName").append(json.adminName);
                        $("#adminEmail").append(json.adminEmail);
                        console.log("管理员姓名 ： "+json.adminName);
                        console.log("管理员邮箱 ： "+json.adminEmail);

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取管理员信息失败");
                        $("#dialog-return").modal("show");

                        break;
                }


            },
            error : function () {
                $("#dialog-return").find(".modal-body").html("获取管理员信息失败---网络错误");
                $("#dialog-return").modal("show");
            }
        });
    });
</script>
<!-- Custom Js -->

<script>
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);

    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show');
        else $('#sidebar-collapse').collapse('hide');
    });

    function _formatte_user_id(value, row, index) {
        return '<input name="id" type="radio" value="' + value + '" />';
    }

    function _formatte_name(value,row,index){
        if (value != undefined) {
            return '<a href="/console/server_info/?id=' + row.id +'">' + value + '</a>';
        }
    }

    function _formatted_select(value, row, index) {
        return $.trim(value) ==$.trim('true') ? "是":"否" ;
    }

    function _reset(from) {
        from[0].reset();
        _reset_input(from.find("input"));
    }

    function _reset_input(input) {
        input.removeClass("alert-danger");
        input.tooltip('destroy');
    }

    function _set(el, message) {
        el.addClass("alert-danger");
        el.attr("title", message);
        el.tooltip('show');
    }

    $(".btn.btn-primary.open-add-new-user-dialog").click(function() {
        window.flag='add';
        var flag_ = window.flag;

        _reset($(".form-horizontal.add-new-user"));
        $("#dialog-server-management-update-title").html("新增服务器");
        $("#dialog-server-management-update").modal("show");
    });

    //update method
    $(".btn.btn-success.open-update-use-dialog").click(function() {
        window.flag = 'update';

        var id = $("input[type='radio']:checked").val();
        window.id = id;
        if (id != undefined) {
            _reset($(".form-horizontal.add-new-user"));
            // 读取用户选中的用户信息
            $.get("/console/server_management/get/" + id, null, function(r, status) {
                console.log("data: "+r.version);

                $("#dialog-server-management-update").find("input[id='serverName']").val(r.serverName);
                $("#dialog-server-management-update").find("input[id='serverIP']").val(r.serverIP);
                $("#dialog-server-management-update").find("select[id='isMainServer']").val(r.isMainServer ? "True" : "False");
                window.version = r.version;

                console.log("version:" + window.version);

                $("#dialog-server-management-update-title").html("修改服务器");
                $("#dialog-server-management-update").modal("show");
            });
        } else {
            $(".bs-example-modal-sm").find(".modal-body").html("请选择服务器");
            $(".bs-example-modal-sm").modal("show");
        }
    });

    $(".btn.btn-primary.add-new-user").click(function() {
        var isComplete = true;
        var isFormatted = true;

        //check input
        if($("input[id='serverName']").val() == ""){
            _set($("input[id='serverName']"), "请输入服务器名称");
            isComplete = false;
        }
        if($("input[id='serverIP']").val() == ""){
            _set($("input[id='serverIP']"), "请输入服务器IP");
            isComplete = false;
        }

        if(isComplete) {
            _reset_input( $("#dialog-server-management-update").find(".form-group").find("input") );

            if( !isName( $("input[id='serverName']").val() ) ){
                isFormatted = false;

                _set($("input[id='serverName']"), "请输入包含中文，英文，数字和-的名字");
            }

            if( !isIPAdd( $("input[id='serverIP']").val() ) ){
                isFormatted = false;

                _set($("input[id='serverIP']"), "请输入合法IP地址");
            }

            if (isFormatted) {

                var flag_ = window.flag;


                if (window.flag == 'update') {
                    var dataSource = new FormData();

                    dataSource.append("id", window.id);
                    dataSource.append("version", window.version);

                    console.log('version:' + $("input[id='version']").val());
                    console.log('id: ' + window.id);

                    dataSource.append("serverName", $("input[id='serverName']").val());
                    dataSource.append("serverIP", $("input[id='serverIP']").val());
                    dataSource.append("isMainServer", $("#isMainServer").val());

                    console.log("isMainServer:" + $("#isMainServer").val())
                } else {
                    var dataSource = new FormData();

                    dataSource.append("serverName", $("input[id='serverName']").val());
                    dataSource.append("serverIP", $("input[id='serverIP']").val());
                    dataSource.append("isMainServer", $("#isMainServer").val());

                    console.log(dataSource);
                    console.log('flag:' + flag);
                }

                $.ajax({
                    url: "/console/server_management/" + window.flag,
                    type: "post",
                    data: dataSource,
                    processData: false,
                    contentType: false,
                    success: function (r) {
                        switch (r.status) {
                            case "SUCCEED" :

                                if (flag_ == 'add') {
                                    $("#dialog-return").find(".modal-body").html("新增成功");
                                } else {
                                    $("#dialog-return").find(".modal-body").html("修改成功");
                                }

                                $("#dialog-return").modal("show");

                                $(".btn.btn-default.add-new-user-close").click();
                                $(".panel.panel-default").find("button[name='refresh']").click();

                                // $("#dialog-server-management-update").find(".modal-body").html("新增成功");
                                // $("#dialog-server-management-update").modal("show");
                                //
                                // $(".panel.panel-default").find("button[name='refresh']").click();

                                break

                            case "FAILED" :
                                if (flag_ == 'add') {
                                    $("#dialog-return").find(".modal-body").html("新增失败");
                                } else {
                                    $("#dialog-return").find(".modal-body").html("修改失败");
                                }

                                $(".btn.btn-default.add-new-user-close").click();

                                $("#dialog-return").modal("show");

                                break
                        }
                    },
                    error: function (r) {
                        $("#dialog-return").find(".modal-body").html("Oh snap! System handling failure.");
                        $("#dialog-return").modal("show");
                    }
                });
            }
        }

    });

    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })

    $(".btn.btn-danger.btn-task-delete-confirm").click(function () {
        console.log('clicked the delete');

        var id = $("input[type='radio']:checked").val();

        var list_id = new Array();

        list_id[0] = (id);

        console.log(list_id);

        var form = new FormData();

        form.append("list_ID", list_id);

        $.ajax({
            url: "/console/server_management/delete",
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (r) {
                switch (r.status) {
                    case "SUCCEED" :
                        $("#dialog-return").find(".modal-body").html("删除成功");

                        $("#dialog-return").modal("show");

                        $(".btn.btn-default.add-new-user-close").click();
                        $(".panel.panel-default").find("button[name='refresh']").click();

                        // $("#dialog-server-management-update").find(".modal-body").html("删除成功");
                        // $("#dialog-server-management-update").modal("show");
                        //
                        // $(".panel.panel-default").find("button[name='refresh']").click();
                        break

                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("删除失败");
                        $("#dialog-return").modal("show");

                        break
                }
            },
            error: function (r) {

                $("#dialog-return").find(".modal-body").html("Oh snap! System handling failure.");
                $("#dialog-return").modal("show");
            }

        });
    });

    function isName(val){//包括中文和英文数字-
        var reg = /^([\u4E00-\uFA29]|[\uE7C7-\uE7F3]|[a-zA-Z0-9_-]){1,20}$/;

        return reg.test(val);
    }


    function isIPAdd(val){
        var IP = /([0-9]{1,3}\.{1}){3}[0-9]{1,3}/;

        return IP.test(val);
    }

    $(".btn.btn-danger.delete-employee-dialog").click(function (){

        var id = $("input[type='radio']:checked").val();
        if (id != undefined) {
            // 读取Project选中的用户信息
            $.get("/console/server_management/get/" + id, null, function(r, status) {
                $(".bs-example-modal-sm").find(".modal-body").html("是否删除服务器：  " + r.serverName + "?");
                $(".bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
                $(".bs-example-modal-sm").modal("show");
            });
        } else {
            $("#dialog-return").find(".modal-body").html("请选择服务器");
            $("#dialog-return").modal("show");
        }


        // console.log('clicked the delete');
        //
        // var id = $("input[type='radio']:checked").val();
        //
        // var list_id = new Array();
        //
        // list_id[0] = (id);
        //
        // console.log(list_id);
        //
        // var form = new FormData();
        //
        // form.append("list_ID", list_id);
        //
        // $.ajax({
        //     url: "/console/camera_management/delete",
        //     type: "post",
        //     data: form,
        //     processData: false,
        //     contentType: false,
        //     success: function (r) {
        //         switch (r.status) {
        //             case "SUCCEED" :
        //             $("#dialog-return").find(".modal-body").html("删除成功");
        //
        //             $("#dialog-return").modal("show");
        //
        //             $(".btn.btn-default.add-new-user-close").click();
        //             $(".panel.panel-default").find("button[name='refresh']").click();
        //
        //
        //                 // $("#dialog-server-management-update").find(".modal-body").html("删除成功");
        //                 // $("#dialog-server-management-update").modal("show");
        //                 //
        //                 // $(".panel.panel-default").find("button[name='refresh']").click();
        //                 break
        //
        //             case "FAILED" :
        //                 $("#dialog-return").find(".modal-body").html("删除失败");
        //                 $("#dialog-return").modal("show");
        //
        //                 break
        //         }
        //     },
        //     error: function (r) {
        //
        //         $("#dialog-return").find(".modal-body").html("Oh snap! System handling failure.");
        //         $("#dialog-return").modal("show");
        //     }
        //
        // });
    })
</script>


<script>
    console.log("this script has been launched");
</script>

</body>
</html>
