<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.17/css/jquery.dataTables.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.6/css/select.dataTables.min.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"/>-->

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.min.js"></script>
    <!--<script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>-->
    <!--<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>-->
<body>
<table id="example" class="display" style="width:100%">    <thead>
    <tr>
        <th>ID</th>
        <th>Server Name</th>
        <th>Server IP</th>
        <th>Is Main Server</th>
        <th>Modify Time</th>
        <th>Enabled</th>
        <th>Version</th>
    </tr>
    </thead>
</table>

<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            "processing": true,
            "serverSide": true,

            "ajax": {
                "url": "/conGETsole/server_management/test/get",
                "type": "GET",
                "contentType": "application/json",
            },
            columns: [
                { data: 'id' },
                { data: 'serverName' },
                { data: 'serverIP' },
                { data: 'mainServer' },
                { data: 'enabled' },
                { data: 'version' }
            ]
        });
    } );
</script>
</body>


</html>