<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BEYONDSOFT</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

    <link href="/style/jquery-ui.css" rel="stylesheet"/>
    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <link href="/style/bootstrap-datetimepicker.min.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <script src="/javascript/bootstrap-table.min.js"></script>
    <script src="/javascript/bootstrap-table-zh-CN.js"></script>

    <script src="/javascript/jquery-ui.js"></script>

    <script src="/javascript/bootstrap-datetimepicker.js"></script>
    <script src="/javascript/bootstrap-datetimepicker.zh-CN.js"></script>

    <script>
        jQuery(function($){
            $.datepicker.regional['zh-CN'] = {
                clearText: '清除',
                clearStatus: '清除已选日期',
                closeText: '关闭',
                closeStatus: '不改变当前选择',
                prevText: '< 上月',
                prevStatus: '显示上月',
                prevBigText: '<<',
                prevBigStatus: '显示上一年',
                nextText: '下月>',
                nextStatus: '显示下月',
                nextBigText: '>>',
                nextBigStatus: '显示下一年',
                currentText: '今天',
                currentStatus: '显示本月',
                monthNames: ['一月','二月','三月','四月','五月','六月', '七月','八月','九月','十月','十一月','十二月'],
                monthNamesShort: ['一月','二月','三月','四月','五月','六月', '七月','八月','九月','十月','十一月','十二月'],
                monthStatus: '选择月份',
                yearStatus: '选择年份',
                weekHeader: '周',
                weekStatus: '年内周次',
                dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
                dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
                dayNamesMin: ['日','一','二','三','四','五','六'],
                dayStatus: '设置 DD 为一周起始',
                dateStatus: '选择 m月 d日, DD',
                dateFormat: 'yy-mm-dd',
                firstDay: 1,
                initStatus: '请选择日期',
                isRTL: false};
            $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
        });
    </script>

    <style>
        #canvas{
            border: 1px solid #ADACB0;
            background-image: url("/images/floor.png");
            background-position: center;
            background-size: 100% 100%;

            margin-top: 10px;
        }

        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 30em;
            width: 100%;
        }

        /*table tbody {*/
            /*display:block;*/
            /*height:30em;*/
            /*overflow-y:scroll;*/
        /*}*/
        /*table thead, tbody tr {*/
            /*display:table;*/
            /*width:100%;*/
            /*table-layout:fixed;*/
        /*}*/
        /*table thead {*/
            /*width: calc( 100% - 1em )*/
        /*}*/
        /*table thead th{*/
            /*background:#275AB2;*/
        /*}*/
        /*thead{*/
            /*color:#FFFFFF;*/
        /*}*/

        .navbar-brand-right_{
            float:right;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        .search{
            padding-bottom: 1em;
        }

        W30{
            width: 30px !important;
        }
        W250{
            width: 250px !important;
        }
        W100{
            width: 100px !important;
        }
    </style>

</head>
<body>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" > <strong> &nbsp &nbsp &nbsp BeyondSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--区域安全防范系统-->
                <li>
                    <a  class="active-menu"><i class="fa fa-sitemap"></i> 区域安全防范系统<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">                        <!--轨迹图-->
                        <li>
                            <a href="/console/trace_info" class="active-menu-item">轨迹图</a>
                        </li>

                        <!--轨迹统计图表-->
                        <li>
                            <a href="/console/camera_info">轨迹统计图表</a>
                        </li>

                        <!--轨迹统计图表_小时-->
                        <li>
                            <a href="/console/camera_info_hour">轨迹统计图表_小时</a>
                        </li>

                        <!--告警设置-->
                        <li>
                            <a href="/console/contacts_config">告警设置</a>
                        </li>

                        <!--告警联系人-->
                        <li>
                            <a href="/console/contacts_management">告警联系人</a>
                        </li>

                        <!--人脸检测-->
                        <li>
                            <a href="" title="人脸检测" target="_blank" id="detectURL">人脸检测</a>
                        </li>
                    </ul>
                </li>

                <!--内部人员管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 内部人员管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--员工管理-->
                        <li>
                            <a href="/console/employee_management">员工管理</a>
                        </li>

                        <!--访客管理-->
                        <li>
                            <a href="/console/visitor_management">访客管理</a>
                        </li>

                        <!--访客记录管理-->
                        <li>
                            <a href="/console/visitorRecord_management">访客记录管理</a>
                        </li>


                        <!--考勤信息-->
                        <li>
                            <a href="/console/attendance_management">考勤信息</a>
                        </li>
                    </ul>
                </li>

                <!--系统管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--服务器管理-->
                        <li>
                            <a href="/console/server_management">服务器管理</a>
                        </li>

                        <!--服务器信息-->
                        <li>
                            <a href="/console/server_info">服务器信息</a>
                        </li>

                        <!--摄像头管理-->
                        <li>
                            <a href="/console/camera_management">摄像头管理</a>
                        </li>

                        <!--参数设置-->
                        <li>
                            <a href="/console/face_config">参数设置</a>
                        </li>

                        <!--用户管理-->
                        <li>
                            <a href="/console/user_management">用户管理</a>
                        </li>

                        <!--用户信息修改-->
                        <li>
                            <a href="/console/profile">用户信息修改</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>

    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" style="padding-top: 0px; padding-bottom: 0px">
        <div id="page-inner" style="margin-top:0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px">
            <!--<div class="row">-->
                    <!--<h1 class="page-header" style="color: #FFFFFF;">-->
                        <!--轨迹图-->
                    <!--</h1>-->
            <!--</div>-->
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default" style="margin-bottom: 0px">
                        <div class="panel-body">

                            <div class="form-inline">

                                <div class="form-group">
                                    <select id="searchType" class="form-control" >
                                        <option value="employee">员工</option>
                                        <option value="visitor">访客</option>
                                    </select>

                                    <input type="text" id="personName_show" class="form-control" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="datepicker_start_box" style="margin-left: 1em;text-align: right;">开始时间:</label>
                                    <div class="input-group date form_date" id="datepicker_start_box" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                        <input class="form-control" id="datepicker_start" size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    </div>

                                    <!--<input type="text" id="datepicker_start" class="form-control" readonly>-->
                                </div>

                                <div class="form-group">
                                    <label for="datepicker_end_box" style="margin-left: 1em;text-align: right;">结束时间:</label>
                                    <div class="input-group date form_date" id="datepicker_end_box" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                        <input class="form-control" id="datepicker_end"  size="16" type="text" value="" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    </div>
                                    <!--<input type="text" id="datepicker_end" class="form-control"  readonly>-->
                                </div>

                                <button class="btn btn-primary searchTrace" data-toggle="modal" style="padding-left: 1em">搜索</button>
                            </div>

                            <div class="form-group" style="position: relative;">
                                <canvas id="canvas" class="col-sm-12 col-xs-12" width="1200" height="680" style="padding-left: 0; padding-right: 0;">
                                浏览器不支持canvas
                            </canvas>

                                <!--<div style="position: absolute; width: 50px; height: 50px; background-color: #3c763d; top: 50px;">-->
                                <!--</div>-->

                                <!--<div style="display: none; position: absolute; opacity:0.8; background-color: #FFFFFF; width: 12rem; height: 6.5rem" class="message">-->
                                    <!--<div class="form-group" style="margin-bottom: 0px">-->
                                        <!--<label class="name" style="font-size: 2px">名称：</label>-->
                                    <!--</div>-->

                                    <!--<div class="form-group showTime" style="overflow-y: scroll; height: 4rem;font-size: 2px;margin-bottom: 0px">-->

                                    <!--</div>-->
                                <!--</div>-->

                                <div style="display: none; position: absolute; opacity:0.8; background-color: #FFFFFF; width: 12rem; height: 6.5rem" class="message">
                                    <div class="form-group" style="margin-bottom: 0px">
                                        <label class="name" style="font-size: 1rem">名称：</label>
                                    </div>

                                    <div class="form-group showTime" style="overflow-y: scroll; height: 4rem;font-size: 1rem;margin-bottom: 0px">

                                    </div>
                                </div>
                            </div>

                        </div>

                            <script>
                                var camera_enable = new Image();
                                camera_enable.src = "/images/test_camera.png";

                                var camera_disable = new Image();
                                camera_disable.src = "/images/test_camera0.png";

                                var personId = getUrlParam("id");
                                var personType = getUrlParam("type");

                                var camera_size = {
                                    width : 20,
                                    height : 20
                                }
                                var offset_camera = {
                                    x: -10,
                                    y : -10
                                }
                                var offset_trace = {
                                    x: 10,
                                    y : 10
                                }
                                var offset_message = {
                                    x : -140,
                                    y : -70
                                }

                                var profileImage_size = {
                                    x : 100,
                                    y : 125
                                }
                                var offset_profileImage = {
                                    x : 0,
                                    y : 0
                                }

                                var offset_noInfoMessage = {
                                    x : 5,
                                    y : 30
                                }

                                var profileImage;

                                var can = document.getElementById('canvas');
                                var context = can.getContext('2d');

                                var cameraList_all = new Array();
                                var cameraList_enable = new Array();

                                var cameraList_all_info = new Array();

                                var trace_list = new Array();

                                var camera_trace_list = new Array();

                                function search(id, startDate, endDate){
                                    cameraList_all_info = new Array();

                                    var data_ = {
                                        id : id,
                                        startDate : startDate,
                                        endDate : endDate
                                    }

                                    $.ajax({
                                        type: "get",
                                        url: "/console/trace/search",
                                        timeout : timeout_network,
                                        data: data_,
                                        dataType:"json",
                                        success: function (r) {
                                            switch (r.status) {
                                                case "SUCCEED" :

                                                    //cameraList_all = r.cameras.allCamera;
                                                    cameraList_enable = r.cameras.traceCamera;
                                                    console.log("camera_enable: ");
                                                    console.log(cameraList_enable);
                                                    //console.log("camera_all: ");
                                                    //console.log(cameraList_all);
                                                    break
                                                case "FAILED" :
                                                    $("#dialog-return").find(".modal-body").html("查询失败");

                                                    if(r.message != undefined){
                                                        $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                                                    }

                                                    $("#dialog-return").modal("show");
                                                    break
                                            }
                                            // if (r.message.WARNING != undefined) {
                                            //     $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                                            //     $("#dialog-return").modal("show");
                                            // }
                                        },
                                        error: function (r) {
                                            $("#dialog-return").find(".modal-body").html("网络错误");
                                            $("#dialog-return").modal("show");
                                        }
                                    });

                                    for(var i = 0; i < cameraList_all.length; i++){
                                        cameraList_all_info.push({
                                            name : cameraList_all[i].cameraName,
                                            info : [],
                                            cameraXY : cameraList_all[i].cameraXY
                                        })
                                    }

                                    for(var i = cameraList_enable.length-1; i > 0; i--){
                                        for(var j = 0; j < cameraList_all_info.length; j++){
                                            if(cameraList_all_info[j].name == cameraList_enable[i].cameraname){

                                                cameraList_all_info[j].info.push(cameraList_enable[i].tracedate);

                                                break;
                                            }
                                        }
                                    }

                                    search_trace_gap();

                                    drawprofileImage(profileImage,context);

                                    if(cameraList_enable.length == 0){
                                        drawMessage_noInfo("未查询到相关轨迹信息!",context);
                                    }
                                }
                                function searchAllCamera(){
                                    $.ajax({
                                        async:false,
                                        type: "get",
                                        url: "/console/camera_management/search",
                                        data:{
                                            search : '',
                                            limit:1000,
                                            offset:0
                                        },
                                        timeout : timeout_network,
                                        dataType:"json",
                                        success: function (r) {
                                            switch (r.status) {
                                                case "SUCCEED" :

                                                    cameraList_all = r.rows;

                                                    console.log("camera_all: ");
                                                    console.log(cameraList_all);
                                                    break
                                                case "FAILED" :
                                                    $("#dialog-return").find(".modal-body").html("查询失败");

                                                    if(r.message != undefined){
                                                        $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                                                    }

                                                    $("#dialog-return").modal("show");
                                                    break
                                            }
                                            // if (r.message.WARNING != undefined) {
                                            //     $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                                            //     $("#dialog-return").modal("show");
                                            // }
                                        },
                                        error: function (r) {
                                            $("#dialog-return").find(".modal-body").html("网络错误");
                                            $("#dialog-return").modal("show");
                                        }
                                    });
                                }

                                function drawTrace(cameraList_, context){
                                    context.beginPath();

                                    //线宽
                                    context.lineWidth = 4;
                                    //颜色
                                    context.strokeStyle = '#ff0000';
                                    context.lineJoin = context.lineCap = 'round';

                                    var location;
                                    var length = cameraList_.length;

                                    if(length > 0) {
                                        location = cameraList_[length - 1].cameraXY.split(",");//0: x, 1: y
                                    } else {
                                        return;
                                    }
                                    console.log("trace_start: "+(parseInt(location[0])+ offset_trace.x) + ", "+ (parseInt(location[1])+ offset_trace.y));
                                    context.moveTo( parseInt(location[0])+ offset_trace.x - 10, parseInt(location[1])+ offset_trace.y - 10 );

                                    for(var i = length -2; i >= 0; i--){//遍历摄像头
                                        var trace;

                                        if(i == (length-2)){ //first drawed camera
                                            console.log("start:"+cameraList_[length-1].cameraname);
                                            console.log("end:"+cameraList_[i].cameraname);

                                            trace = searchForTrace(cameraList_[length-1].cameraid,cameraList_[i].cameraid);
                                        } else {
                                            if(i >= 0) {
                                                console.log("start:"+cameraList_[i+1].cameraname);
                                                console.log("start:"+cameraList_[i].cameraname);

                                                trace = searchForTrace(cameraList_[i+1].cameraid, cameraList_[i].cameraid);
                                            }
                                        }

                                        if(trace != undefined){//中间需要画折线段
                                            var traces = trace.split(";");

                                            for(var j = 0; j < traces.length; j++){
                                                var trace_location = traces[j].split(",");

                                                var trace_location_x = trace_location[0];
                                                var trace_location_y = trace_location[1];

                                                context.lineTo( parseInt(trace_location_x),parseInt(trace_location_y) );
                                            }
                                        }

                                        var temp_camera = cameraList_[i];

                                        if(temp_camera.cameraXY != undefined){
                                            location = temp_camera.cameraXY.split(",");//0: x, 1: y
                                        } else {
                                            location = temp_camera.camereXY.split(",");//0: x, 1: y
                                        }

                                        context.lineTo( parseInt(location[0]) + offset_trace.x - 10, parseInt(location[1]) + offset_trace.y - 10);

                                        console.log("trace: "+(parseInt(location[0]) + offset_trace.x) + ", "+ (parseInt(location[1])+ offset_trace.y));

                                    }

                                    context.stroke();
                                }

                                function drawCamera(cameraList_, context, isEnable) {

                                    // var camera = new Image();
                                    //
                                    // if (isEnable) {
                                    //     camera.src = "/images/test_camera.png";
                                    // } else {
                                    //     camera.src = "/images/test_camera0.png";
                                    // }

                                    var camera = isEnable ? camera_enable : camera_disable;

                                    var length = cameraList_.length;
                                    for(var i = length - 1 ; i >= 0; i--){
                                        var temp_camera = cameraList_[i];

                                        var location;

                                        location = temp_camera.cameraXY.split(",");//0: x, 1: y

                                        console.log("camera location: "+(parseInt(location[0]) + offset_camera.x )+","+(parseInt(location[1]) + offset_camera.y));

                                        context.drawImage(camera, parseInt(location[0]) + offset_camera.x, parseInt(location[1]) + offset_camera.y, camera_size.width, camera_size.height);
                                    }

                                    // camera.onload = function (ev) {
                                    //     var length = cameraList_.length;
                                    //     for(var i = length - 1 ; i >= 0; i--){
                                    //         var temp_camera = cameraList_[i];
                                    //
                                    //         var location;
                                    //
                                    //         location = temp_camera.cameraXY.split(",");//0: x, 1: y
                                    //
                                    //         console.log("camera location: "+(parseInt(location[0]) + offset_camera.x )+","+(parseInt(location[1]) + offset_camera.y));
                                    //
                                    //         context.drawImage(camera, parseInt(location[0]) + offset_camera.x, parseInt(location[1]) + offset_camera.y, camera_size.width, camera_size.height);
                                    //     }
                                    // }
                                }

                                function clearprofileImage(context){
                                    if(profileImage != undefined) {
                                        context.clearRect(parseInt(offset_profileImage.x) + 0, parseInt(offset_profileImage.y) + 0, profileImage_size.x, (profileImage.height / profileImage.width * profileImage_size.x));
                                    }
                                }
                                function drawprofileImage(image,context){
                                    context.drawImage(image, parseInt(offset_profileImage.x)+0,parseInt(offset_profileImage.y)+0,profileImage_size.x, (profileImage.height/profileImage.width*profileImage_size.x));
                                }

                                function drawMessage(cameraList_, context){
                                    var offset_vertical_location = 0;//纵向的信息位置偏移量

                                    context.fillStyle = "black";
                                    context.font = "italic 10px sans-serif";

                                    var length = cameraList_.length;
                                    for(var i = length-1 ; i >= 0; i--){
                                        var temp_camera = cameraList_[i];

                                        var location;

                                        if(temp_camera.cameraXY != undefined){
                                            location = temp_camera.cameraXY.split(",");//0: x, 1: y
                                        } else {
                                            location = temp_camera.camereXY.split(",");//0: x, 1: y
                                        }
                                        var message = temp_camera.cameraXY;

                                        context.fillText(message, parseInt(location[0]) + offset_message.x, parseInt(location[1]) + offset_message.y + offset_vertical_location);
                                    }
                                }

                                function drawMessage_noInfo(message,context){
                                    context.font = "20px Georgia"

                                    context.fillText(message,0+offset_noInfoMessage.x+profileImage_size.x,0+offset_noInfoMessage.y);
                                }

                                function search_trace_gap(){
                                    $.ajax({
                                        type: "get",
                                        url: "/console/trace/search_trace",
                                        timeout : timeout_network,
                                        dataType:"json",
                                        success: function (r) {
                                            switch (r.status) {
                                                case "SUCCEED" :
                                                    trace_list = r.trace_gap_list;

                                                    console.log("trace_list_gap:");
                                                    console.log(trace_list);

                                                    break
                                                case "FAILED" :
                                                    $("#dialog-return").find(".modal-body").html("查询失败");

                                                    if(r.message != undefined){
                                                        $("#dialog-return").find(".modal-body").append("\n原因:"+r.message);
                                                    }

                                                    $("#dialog-return").modal("show");
                                                    break
                                            }
                                        },
                                        error: function (r) {
                                            $("#dialog-return").find(".m错误odal-body").html("网络错误");
                                            $("#dialog-return").modal("show");
                                        }
                                    });
                                }

                                function searchForTrace(cameraA_id, cameraB_id){
                                    var length = trace_list.length;
                                    for(var i = 0; i < length; i++){
                                        var temp_trace = trace_list[i];

                                        if(temp_trace.cameraA.id == cameraA_id){
                                            if(temp_trace.cameraB.id == cameraB_id){
                                                return temp_trace.trace;
                                            }
                                        }
                                    }

                                    return ;
                                }

                                function clearCanvas(context){
                                    context.clearRect(0,0,canvas.width,canvas.height);
                                }

                                function getUrlParam(name) {
                                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                                    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                                    if (r != null) return unescape(r[2]); return null; //返回参数值
                                }

                                function getPersonNameAndShow(id,type){
                                    var searchURL;

                                    if(type == "employee"){//员工
                                        searchURL = "/console/employee_management/get/"+id;
                                    } else {//访客
                                        $("#dialog-select-person-title").html("选择访客");
                                        searchURL = "/console/visitor_management/get/"+id;
                                    }

                                    $.get(searchURL, null, function(r, status) {
                                        $("#personName_show").val(r.name);

                                        clearprofileImage(context);

                                        profileImage = new Image();
                                        profileImage.src = r.feature;

                                        profileImage.onload = function(){
                                            drawprofileImage(profileImage,context);
                                        };


                                    });
                                }

                                // $.ajaxSettings.async = false;
                                // search(97,"2018-06-01","2018-06-01");
                                // $.ajaxSettings.async = true;
                                //
                                // var can = document.getElementById('canvas');
                                // var context = can.getContext('2d');
                                //
                                // search_trace_gap();
                                // drawCamera(cameraList_all,context,false);
                                // drawTrace(cameraList_enable,context);
                                // drawCamera(cameraList_enable,context, true);
                                // drawMessage(cameraList_enable,context)

                                if(personId != undefined){
                                    getPersonNameAndShow(personId,personType);

                                    var date = new Date();

                                    var month = ( parseInt(date.getMonth())+1 );

                                    if(month/10 < 1){
                                        month = "0"+month;
                                    }

                                    var day = date.getDate();

                                    if(day/10 < 1){
                                        day = "0"+day;
                                    }
                
                                    var toDayTime = date.getFullYear()+"-"+month+"-"+day;

                                    $("#datepicker_start").val(toDayTime);
                                    $("#datepicker_end").val(toDayTime);

                                    $("#searchType").val(personType);

                                    start_draw(personId,toDayTime, toDayTime);
                                }
                                
                                function start_draw(id, startTime, endTime) {
                                    clearCanvas(context);

                                    $.ajaxSettings.async = false;
                                    search(id,startTime,endTime);
                                    $.ajaxSettings.async = true;

                                    //drawprofileImage(profileImage,context);

                                    search_trace_gap();
                                    drawCamera(cameraList_all,context,false);
                                    drawTrace(cameraList_enable,context);
                                    drawCamera(cameraList_enable,context, true);
                                    //drawMessage(cameraList_enable,context);
                                }

                                $("#canvas")[0].onmousemove = function(event) {

                                    if(true) {

                                        //获取窗口坐标
                                        var x = event.pageX - canvas.getBoundingClientRect().left;
                                        var y = event.pageY - canvas.getBoundingClientRect().top;

                                        //转换为canvas内坐标
                                        x = parseInt((x * canvas.width) / canvas.getBoundingClientRect().width);
                                        y = parseInt((y * canvas.height) / canvas.getBoundingClientRect().height);

                                        console.log(x + "," + y);

                                        reset_message($(".message"));

                                        var length_cameraList = cameraList_all_info.length;
                                        //var length_cameraList = cameraList_all.length;
                                        for (var i = 0; i < length_cameraList; i++) {
                                            //var camera_temp = cameraList_all[i];
                                            var camera_temp = cameraList_all_info[i];

                                            var location_camera = camera_temp.cameraXY.split(",");

                                            if (x >= (location_camera[0] - camera_size.width / 2) && x <= (location_camera[0] - camera_size.width / 2) + camera_size.width) {
                                                if (y >= (location_camera[1] - camera_size.height / 2) && y <= (location_camera[1] - camera_size.height / 2) + camera_size.height) {
                                                    console.log("clicked camera:" + camera_temp.name)
                                                    var messageBox = $(".message");


                                                    if($(".name").contents().length == 0  ){
                                                        $(".name").append(camera_temp.name);
                                                    }

                                                    for(x in camera_temp.info){
                                                        $(".showTime").append("<lable style='width: 8em;'>" + camera_temp.info[x] + "</lable><br>");
                                                    }

                                                    // for(var j = 0; j <= camera_temp.info; j++) {
                                                    //     $(".showTime").append("<lable style='width: 8em;'>" + camera_temp.info[j] + "</lable><br>");
                                                    // }

                                                    var left = (location_camera[0] * canvas.getBoundingClientRect().width) / canvas.width;
                                                    var top = (location_camera[1] * canvas.getBoundingClientRect().height) / canvas.height;

                                                    messageBox.css("top", parseInt((top - camera_size.width / 2)) + offset_message.y);
                                                    messageBox.css("left", parseInt((left - camera_size.height / 2)) + offset_message.x);

                                                    messageBox.css("display", "");
                                                }
                                            }
                                        }

                                    }
                                }

                                function reset_message(message){
                                    message.css("display","none");
                                    message.css("top",0);
                                    message.css("left",0);

                                    $(".name").empty();
                                    $(".showTime").empty();
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>


<div id="dialog-select-person" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span id="dialog-select-person-title"></span>
            </div>
            <div class="modal-body" style="padding-bottom: 0px">
                <form role="form" class="form-horizontal add-new-user">
                    <input type="text" style="display:none;" id="id" name="id" />
                    <input type="text" style="display:none;" id="version" name="version" />
                    <!--<input type="text" style="display:none;" id="version" name="version" />-->

                    <div class="form-group" style="margin-bottom: 5px">
                        <div class="col-sm-22">
                            <div class="panel panel-default" style="margin-bottom: 5px">
                                <div class="panel-body">
                                    <div class="table-responsive" >

                                        <table id="personList" class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th data-field="userid" data-formatter="_formatte_person_id" data-align="center"></th>
                                            <th id="person_name" data-field="name" style="border:none;">姓名</th>
                                            <th data-field="IDNumber" style="border:none;">证件号码</th>
                                            <th data-field="phoneNumber" style="border:none;">电话</th>
                                            <th data-field="feature" data-formatter="_formatte_locale_image" style="border:none;">图像信息
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 5px;margin-bottom: 5px">
                            <button type="button" class="btn btn-primary savePerson">确认</button>
                            <button type="button" class="btn btn-default savePerson-close" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">提示</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    window.isSearched = false;
    var timeout_network = 3000;

    var pageSize_personList = 10;

    $(document).ready(function () {
        var pageSize_cameraList = 10;

        var isCellPhone = navigator.userAgent.match(/mobile/i);

        if(isCellPhone) {
            camera_size.width = 40;
            camera_size.height = 40;

            console.log("camera_size:");
            console.log(camera_size);

            pageSize_personList = 5;

            offset_message.x = -120;
            offset_message.y = -45;
        }

        $.ajax({
            type: "get",
            dataType:"json",
            url : "/console/faceconfig_management/search",

            success : function (r) {
                switch (r.status){
                    case "SUCCEED" :
                        $("#detectURL").attr("href","http://"+r.serverIPandPort+"/console/face_detect");
                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取配置信息失败");

                        if(r.errorMessage != undefined){
                            $("#dialog-return").find(".modal-body").append("\n原因:"+r.errorMessage);
                        }

                        $("#dialog-return").modal("show");

                        break;
                }
            },
            error : function (r) {

            }
        })

        searchAllCamera();

        drawCamera(cameraList_all,context,false);

        // $(document.body).css({//禁止页面滚动
        //     "overflow-x":"hidden",
        //     "overflow-y":"hidden"
        // });


        $('#datepicker_start').datepicker();
        $('#datepicker_end').datepicker();


        //手机端修改dialog的长度
        $("#dialog-select-person").on('show.bs.modal', function () {
            if(isCellPhone){
                $(".fixed-table-body").css("height","15em");
            } else {
                $(".fixed-table-body").css("height","30em");
            }
        })

        //获取时间
        var oDate = new Date();

        var month = ( parseInt(oDate.getMonth())+1 );

        if(month/10 < 1){
            month = "0"+month;
        }

        var day = oDate.getDate();

        if(day/10 < 1){
            day = "0"+day;
        }
        
        var date = oDate.getFullYear() + '-'+ month +'-'+day;

        $("#datepicker_start").val(date);
        $("#datepicker_end").val(date);

        $("#personName_show").focus(function () {
            var searchURL;

            var that = this;

            $("#personList").bootstrapTable('destroy');

            if($("#searchType").val() == "employee"){//员工
                 $("#dialog-select-person-title").html("选择员工");

                 searchURL = "/console/employee_management/search";
            } else {//访客
                 $("#dialog-select-person-title").html("选择访客");
                 searchURL = "/console/visitor_management/search";
            }

            $('#personList').bootstrapTable({
                method: 'get',
                url: searchURL,
                striped: true,
                dataType: "json",
                pagination: true,
                queryParamsType: "limit",
                singleSelect: true,
                contentType: "application/x-www-form-urlencoded",
                pageSize: pageSize_personList,
                pageNumber: 1,
                search: true,
                showColumns: true,
                showRefresh: true,
                sidePagination: "server", //服务端请求

                queryParams: function (params) {
                    return {
                        limit: params.limit,
                        offset: params.offset / params.limit,
                        search: $(".search").find("input").val()
                    };
                },
                responseHandler: function (res) {
                    return {
                        "rows": res.rows,
                        "total": res.total
                    };
                }
            });

            $("#dialog-select-person").modal("show");

            $('#personList').bootstrapTable('refresh');


            //$("#dialog-select-person").find("[input id= ]")
         });


    })

    $("#searchType").change(function () {
        $("#personName_show").val("");

        window.personID = undefined;
    });

    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })

    $(".btn.btn-primary.savePerson").click(function () {
        window.personID = $("#personList").find("input[type='radio']:checked").val();

        var searchURL;

        getPersonNameAndShow(window.personID,$("#searchType").val())

        $(".btn.btn-default.savePerson-close").click();

    })

    $(".searchTrace").click(function () {
        window.isSearched = true;

        var id;

        if(personId != undefined){
            id = personId;
        } else {
            id = window.personID;

            if(id == undefined){
                if($("#searchType").val() == "employee"){
                    $("#dialog-return").find(".modal-body").html("请选择员工");

                } else {
                    $("#dialog-return").find(".modal-body").html("请选择访客");
                }

                $("#dialog-return").modal("show");

                return ;
            }
        }

        var startTime = $("#datepicker_start").val();
        if(startTime == ""){
            $("#dialog-return").find(".modal-body").html("请选择开始时间");
            $("#dialog-return").modal("show");

            return ;
        }

        var endTime = $("#datepicker_end").val();
        if(endTime == ""){
            $("#dialog-return").find(".modal-body").html("请选择结束时间");
            $("#dialog-return").modal("show");

            return ;
        }

        var startTime = startTime.replace(/-/, "").replace(/-/, "");
        var endTime = endTime.replace(/-/, "").replace(/-/, "");

        if(parseInt(startTime) > parseInt(endTime)){
            $("#dialog-return").find(".modal-body").html("开始时间需小于结束时间");
            $("#dialog-return").modal("show");

            return ;
        }

        start_draw(id,$("#datepicker_start").val(),$("#datepicker_end").val());
    })

    function _formatte_person_id(value, row, index) {
        return '<input name="id" type="radio" value="' + value + '" />';
    }

    function _formatte_locale_image(value, row, index) {
        var imgSrc = value;

        if(value == ""){
            imgSrc = "/images/default_avatar_male.jpg";

            return s = '<a class = "view"  href="javascript:void(0)"><img style="width:100px;"  src=' + imgSrc+' /></a>';
        }

        var s = '<a class = "view"  href="javascript:void(0)"><img style="width:100px;"  src="' + imgSrc+"&t="+Math.random() +'" /></a>';

        return s;
    }

</script>

</body>
</html>
