<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BEYONDSOFT</title>
    <!-- Bootstrap Styles-->
    <link href="/style/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"/>

    <!-- Custom Styles-->
    <link href="/style/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href="/javascript/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>

    <link href="/style/jquery-ui.css" rel="stylesheet"/>
    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <link href="/style/font-awesome.css" rel="stylesheet"/>

    <script src="/javascript/jquery-1.11.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="/javascript/jquery.metisMenu.js"></script>

    <script src="/javascript/custom-scripts.js"></script>

    <script src="/javascript/jquery.dataTables.js"></script>
    <script src="/javascript/dataTables.bootstrap.js"></script>
    <script src="/javascript/bootstrap-table.min.js"></script>

    <script src="/javascript/jquery-ui.js"></script>

    <style>
        #canvas{
            border: 1px solid #ADACB0;
            background-image: url("/images/floor.png");
            background-position: center;
            background-size: 100% 100%;
        }

        .fixed-table-body {
            overflow-x: auto;
            overflow-y: scroll;
            height: 30em;
            width: 100%;
        }


        /*table tbody {*/
            /*display:block;*/
            /*height:30em;*/
            /*overflow-y:scroll;*/
        /*}*/
        /*table thead, tbody tr {*/
            /*display:table;*/
            /*width:100%;*/
            /*table-layout:fixed;*/
        /*}*/
        /*table thead {*/
            /*width: calc( 100% - 1em )*/
        /*}*/
        /*table thead th{*/
            /*background:#275AB2;*/
        /*}*/
        /*thead{*/
            /*color:#FFFFFF;*/
        /*}*/


        .navbar-brand-right_{
            float:right;
        }

        .table th, .table td {
            text-align: center;
            vertical-align: middle !important;
        }

        .search{
            padding-bottom: 1em;
        }

        W30{
            width: 30px !important;
        }
        W250{
            width: 250px !important;
        }
        W100{
            width: 100px !important;
        }
    </style>

</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <ul class="nav navbar-top-links navbar-brand-right_">
            <li><a href="#" id="logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
        </ul>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" > <strong> &nbsp &nbsp &nbsp BeyondSoft</strong></a>
        </div>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--管理员信息-->
                <li>
                    <div style="display: table; width: auto; margin-left: auto;margin-right: auto">

                        <img src="/style/images/avtar.png">

                        <!--<div>-->
                        <!--<label id="adminName" style="alignment: center"></label>-->
                        <!--</div>-->

                        <!--<div>-->
                        <!--<label id="adminEmail" style="alignment: center"></label>-->
                        <!--</div>-->
                    </div>
                    <br>
                </li>

                <!--区域安全防范系统-->
                <li>
                    <a  class="active-menu"><i class="fa fa-sitemap"></i> 区域安全防范系统<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">                        <!--轨迹图-->
                        <li>
                            <a href="/console/trace_info" class="active-menu-item">轨迹图</a>
                        </li>

                        <!--轨迹统计图表-->
                        <li>
                            <a href="/console/camera_info">轨迹统计图表</a>
                        </li>

                        <!--报警设置-->
                        <li>
                            <a href="/console/contacts_management">报警设置</a>
                        </li>
                    </ul>
                </li>

                <!--内部人员管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 内部人员管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--员工管理-->
                        <li>
                            <a href="/console/employee_management">员工管理</a>
                        </li>

                        <!--访客管理-->
                        <li>
                            <a href="/console/visitor_management">访客管理</a>
                        </li>

                        <!--考勤信息-->
                        <li>
                            <a href="/console/attendance_management">考勤信息</a>
                        </li>
                    </ul>
                </li>

                <!--系统管理-->
                <li>
                    <a><i class="fa fa-sitemap"></i> 系统管理<span class="fa arrow"></span></a>
                    <ul class="nav ">
                        <!--服务器管理-->
                        <li>
                            <a href="/console/server_management">服务器管理</a>
                        </li>

                        <!--服务器信息-->
                        <li>
                            <a href="/console/server_info">服务器信息</a>
                        </li>

                        <!--摄像头管理-->
                        <li>
                            <a href="/console/camera_management">摄像头管理</a>
                        </li>

                        <!--参数设置-->
                        <li>
                            <a href="/console/face_config">参数设置</a>
                        </li>

                        <!--用户管理-->
                        <li>
                            <a href="/console/user_management">用户管理</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>

    </nav>

    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <!--<div class="row">-->
                    <!--<h1 class="page-header" style="color: #FFFFFF;">-->
                        <!--轨迹图-->
                    <!--</h1>-->
            <!--</div>-->
            <!-- /. ROW  -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">

                                <select id="searchType">
                                    <option value="employee">员工</option>
                                    <option value="visitor">访客</option>
                                </select>
                                <input type="text" id="personName_show" style="width: 5em">

                                <label for="datepicker_start" style="padding-left: 1em">开始时间</label>
                                <input type="text" id="datepicker_start" style="width: 6em" readonly>

                                <label for="datepicker_end" style="padding-left: 1em">结束时间</label>
                                <input type="text" id="datepicker_end" style="width: 6em" readonly>

                                <button class="btn btn-primary searchTrace" data-toggle="modal" style="padding-left: 1em">搜索</button>
                            </div>

                            <canvas id="canvas" class="col-sm-12 col-xs-12" width="1200" height="680">
                                浏览器不支持canvas
                            </canvas>

                            <script>
                                var personId = getUrlParam("id");
                                var personType = getUrlParam("type");

                                var camera_size = {
                                    width : 20,
                                    height : 20
                                }
                                var offset_camera = {
                                    x: -10,
                                    y : -10
                                }
                                var offset_trace = {
                                    x: 10,
                                    y : 10
                                }
                                var offset_message = {
                                    x : 0,
                                    y : 0
                                }

                                var cameraList_all;
                                var cameraList_enable;

                                var trace_list;

                                function search(id, startDate, endDate){
                                    var data_ = {
                                        id : id,
                                        startDate : startDate,
                                        endDate : endDate
                                    }

                                    $.ajax({
                                        type: "get",
                                        url: "/console/trace/search",
                                        data: data_,
                                        dataType:"json",
                                        success: function (r) {
                                            switch (r.status) {
                                                case "SUCCEED" :

                                                    cameraList_all = r.cameras.allCamera;
                                                    cameraList_enable = r.cameras.traceCamera;
                                                    console.log("camera_enable: ");
                                                    console.log(cameraList_enable);
                                                    console.log("camera_all: ");
                                                    console.log(cameraList_all);
                                                    break
                                                case "FAILED" :
                                                    $("#dialog-return").find(".modal-body").html("查询失败");
                                                    $("#dialog-return").modal("show");
                                                    break
                                            }
                                            // if (r.message.WARNING != undefined) {
                                            //     $("#dialog-return").find(".modal-body").html(r.message.WARNING);
                                            //     $("#dialog-return").modal("show");
                                            // }
                                        },
                                        error: function (r) {
                                            $("#dialog-return").find(".modal-body").html("网络故障，请恢复网络后重试");
                                            $("#dialog-return").modal("show");
                                        }
                                    });

                                    search_trace_gap();
                                }

                                function drawTrace(cameraList_, context){
                                    context.beginPath();

                                    //线宽
                                    context.lineWidth = 4;
                                    //颜色
                                    context.strokeStyle = '#ff0000';
                                    context.lineJoin = context.lineCap = 'round';

                                    var location;
                                    var length = cameraList_.length;

                                    location = cameraList_[length-1].cameraXY.split(",");//0: x, 1: y

                                    console.log("trace_start: "+(parseInt(location[0])+ offset_trace.x) + ", "+ (parseInt(location[1])+ offset_trace.y));
                                    context.moveTo( parseInt(location[0])+ offset_trace.x - 10, parseInt(location[1])+ offset_trace.y - 10 );

                                    for(var i = length -2; i >= 0; i--){//遍历摄像头
                                        var trace;

                                        if(i == (length-2)){ //first drawed camera
                                            console.log("start:"+cameraList_[length-1].cameraname);
                                            console.log("end:"+cameraList_[i].cameraname);

                                            trace = searchForTrace(cameraList_[length-1].cameraid,cameraList_[i].cameraid);
                                        } else {
                                            if(i >= 0) {
                                                console.log("start:"+cameraList_[i+1].cameraname);
                                                console.log("start:"+cameraList_[i].cameraname);

                                                trace = searchForTrace(cameraList_[i+1].cameraid, cameraList_[i].cameraid);
                                            }
                                        }

                                        if(trace != undefined){//中间需要画折线段
                                            var traces = trace.split(";");

                                            for(var j = 0; j < traces.length; j++){
                                                var trace_location = traces[j].split(",");

                                                var trace_location_x = trace_location[0];
                                                var trace_location_y = trace_location[1];

                                                context.lineTo( parseInt(trace_location_x),parseInt(trace_location_y) );
                                            }
                                        }

                                        var temp_camera = cameraList_[i];

                                        if(temp_camera.cameraXY != undefined){
                                            location = temp_camera.cameraXY.split(",");//0: x, 1: y
                                        } else {
                                            location = temp_camera.camereXY.split(",");//0: x, 1: y
                                        }

                                        context.lineTo( parseInt(location[0]) + offset_trace.x - 10, parseInt(location[1]) + offset_trace.y - 10);

                                        console.log("trace: "+(parseInt(location[0]) + offset_trace.x) + ", "+ (parseInt(location[1])+ offset_trace.y));

                                    }

                                    context.stroke();
                                }

                                function drawCamera(cameraList_, context, isEnable) {

                                    var camera = new Image();

                                    if (isEnable) {
                                        camera.src = "/images/test_camera.png";
                                    } else {
                                        camera.src = "/images/test_camera0.png";
                                    }

                                    camera.onload = function (ev) {
                                        var length = cameraList_.length;
                                        for(var i = length - 1 ; i >= 0; i--){
                                            var temp_camera = cameraList_[i];

                                            var location;

                                            location = temp_camera.cameraXY.split(",");//0: x, 1: y

                                            console.log("camera location: "+(parseInt(location[0]) + offset_camera.x )+","+(parseInt(location[1]) + offset_camera.y));

                                            context.drawImage(camera, parseInt(location[0]) + offset_camera.x, parseInt(location[1]) + offset_camera.y, camera_size.width, camera_size.height);
                                        }
                                    }
                                }

                                function drawMessage(cameraList_, context){
                                    var offset_vertical_location = 0;//纵向的信息位置偏移量

                                    context.fillStyle = "black";
                                    context.font = "italic 10px sans-serif";

                                    var length = cameraList_.length;
                                    for(var i = length-1 ; i >= 0; i--){
                                        var temp_camera = cameraList_[i];

                                        var location;

                                        if(temp_camera.cameraXY != undefined){
                                            location = temp_camera.cameraXY.split(",");//0: x, 1: y
                                        } else {
                                            location = temp_camera.camereXY.split(",");//0: x, 1: y
                                        }
                                        var message = temp_camera.cameraname;

                                        context.fillText(message, parseInt(location[0]) + offset_message.x, parseInt(location[1]) + offset_message.y + offset_vertical_location);
                                    }
                                }

                                function search_trace_gap(){
                                    $.ajax({
                                        type: "get",
                                        url: "/console/trace/search_trace",
                                        dataType:"json",
                                        success: function (r) {
                                            switch (r.status) {
                                                case "SUCCEED" :
                                                    trace_list = r.trace_gap_list;

                                                    console.log("trace_list_gap:");
                                                    console.log(trace_list);

                                                    break
                                                case "FAILED" :
                                                    $("#dialog-return").find(".modal-body").html("查询失败");
                                                    $("#dialog-return").modal("show");
                                                    break
                                            }
                                        },
                                        error: function (r) {
                                            $("#dialog-return").find(".modal-body").html("网络故障，请恢复网络后重试");
                                            $("#dialog-return").modal("show");
                                        }
                                    });
                                }

                                function searchForTrace(cameraA_id, cameraB_id){
                                    var length = trace_list.length;
                                    for(var i = 0; i < length; i++){
                                        var temp_trace = trace_list[i];

                                        if(temp_trace.cameraA.id == cameraA_id){
                                            if(temp_trace.cameraB.id == cameraB_id){
                                                return temp_trace.trace;
                                            }
                                        }
                                    }

                                    return ;
                                }

                                function getUrlParam(name) {
                                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                                    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                                    if (r != null) return unescape(r[2]); return null; //返回参数值
                                }

                                function getPersonNameAndShow(id,type){
                                    var searchURL;

                                    if(type == "employee"){//员工
                                        searchURL = "/console/employee_management/get/"+id;
                                    } else {//访客
                                        $("#dialog-select-person-title").html("选择访客");
                                        searchURL = "/console/visitor_management/get/"+id;
                                    }

                                    $.get(searchURL, null, function(r, status) {
                                        $("#personName_show").val(r.name);
                                    });
                                }

                                // $.ajaxSettings.async = false;
                                // search(97,"2018-06-01","2018-06-01");
                                // $.ajaxSettings.async = true;
                                //
                                // var can = document.getElementById('canvas');
                                // var context = can.getContext('2d');
                                //
                                // search_trace_gap();
                                // drawCamera(cameraList_all,context,false);
                                // drawTrace(cameraList_enable,context);
                                // drawCamera(cameraList_enable,context, true);
                                // drawMessage(cameraList_enable,context)

                                if(personId != undefined){
                                    getPersonNameAndShow(personId,personType);

                                    var date = new Date();

                                    var toDayTime = date.getFullYear()+"-"+( parseInt(date.getMonth())+1 )+"-"+date.getDate();

                                    $("#datepicker_start").val(toDayTime);
                                    $("#datepicker_end").val(toDayTime);

                                    start_draw(personId,toDayTime, toDayTime);

                                }
                                
                                function start_draw(id, startTime, endTime) {
                                    $.ajaxSettings.async = false;
                                    search(id,startTime,endTime);
                                    $.ajaxSettings.async = true;

                                    var can = document.getElementById('canvas');
                                    var context = can.getContext('2d');

                                    search_trace_gap();
                                    drawCamera(cameraList_all,context,false);
                                    drawTrace(cameraList_enable,context);
                                    drawCamera(cameraList_enable,context, true);
                                    //drawMessage(cameraList_enable,context)
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>

<div id="dialog-select-person" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span id="dialog-select-person-title"></span>
            </div>
            <div class="modal-body" style="padding-bottom: 0px">
                <form role="form" class="form-horizontal add-new-user">
                    <input type="text" style="display:none;" id="id" name="id" />
                    <input type="text" style="display:none;" id="version" name="version" />
                    <!--<input type="text" style="display:none;" id="version" name="version" />-->

                    <div class="form-group" style="margin-bottom: 5px">
                        <div class="col-sm-22">
                            <div class="panel panel-default" style="margin-bottom: 5px">
                                <div class="panel-body">
                                    <div class="table-responsive" >

                                        <table id="personList" class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                        <tr>
                                            <th data-field="userid" data-formatter="_formatte_person_id" data-align="center"></th>
                                            <th id="person_name" data-field="name" style="border:none;">姓名</th>
                                            <th data-field="IDNumber" style="border:none;">身份证号码</th>
                                            <th data-field="phoneNumber" style="border:none;">电话</th>
                                            <th data-field="feature" data-formatter="_formatte_locale_image" style="border:none;">图像信息
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9" style="text-align: right;padding-top: 5px;margin-bottom: 5px">
                            <button type="button" class="btn btn-primary savePerson">确认</button>
                            <button type="button" class="btn btn-default savePerson-close" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-task-delete-confirm" data-dismiss="modal">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="dialog-return" class="modal fade" style="z-index:99999" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade log-out-bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="log-out-mySmallModalLabel">MESSAGE</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer modal-footer-delete-confirm" style="display:none;">
                <button type="button" class="btn btn-danger btn-logout" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {
        //初始化日历
        $("#datepicker_start").datepicker({
            dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
            /* 每周从周一开始 */
            firstDay: 1,
            /* 区域化月名为中文习惯 */
            monthNames: ["1月", "2月", "3月", "4月", "5月", "6月",
                "7月", "8月", "9月", "10月", "11月", "12月"],
            /* 月份显示在年后面 */
            showMonthAfterYear: true,
            /* 年份后缀字符 */
            yearSuffix: "年",
            /* 格式化中文日期
            （因为月份中已经包含“月”字，所以这里省略） */
            dateFormat: "yy-mm-dd"
        });
        $("#datepicker_end").datepicker({
            dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
            /* 每周从周一开始 */
            firstDay: 1,
            /* 区域化月名为中文习惯 */
            monthNames: ["1月", "2月", "3月", "4月", "5月", "6月",
                "7月", "8月", "9月", "10月", "11月", "12月"],
            /* 月份显示在年后面 */
            showMonthAfterYear: true,
            /* 年份后缀字符 */
            yearSuffix: "年",
            /* 格式化中文日期
            （因为月份中已经包含“月”字，所以这里省略） */
            dateFormat: "yy-mm-dd"
        });

        //获取时间
        var oDate = new Date();
        var date = oDate.getFullYear() + '-'+ (parseInt(oDate.getMonth())+1) +'-'+oDate.getDate();

        $("#personName_show").focus(function () {
             var searchURL;

            $("#personList").bootstrapTable('destroy');

            if($("#searchType").val() == "employee"){//员工
                 $("#dialog-select-person-title").html("选择员工");

                 searchURL = "/console/employee_management/search";
            } else {//访客
                 $("#dialog-select-person-title").html("选择访客");
                 searchURL = "/console/visitor_management/search";
            }

            $('#personList').bootstrapTable({
                method: 'get',
                url: searchURL,
                striped: true,
                dataType: "json",
                pagination: true,
                queryParamsType: "limit",
                singleSelect: true,
                contentType: "application/x-www-form-urlencoded",
                pageSize: 10,
                pageNumber: 1,
                search: true,
                showColumns: true,
                showRefresh: true,
                sidePagination: "server", //服务端请求

                queryParams: function (params) {
                    return {
                        limit: params.limit,
                        offset: params.offset / params.limit,
                        search: $(".search").find("input").val()
                    };
                },
                responseHandler: function (res) {
                    return {
                        "rows": res.rows,
                        "total": res.total
                    };
                }
            });

            $("#dialog-select-person").modal("show");

            $('#personList').bootstrapTable('refresh');


            //$("#dialog-select-person").find("[input id= ]")
         });

        $.ajax({
            type: "get",
            url: "/console/user_management/getAdminInfo",
            dataType:"json",
            success : function(json) {
                switch (json.status){
                    case "SUCCEED" :
                        $("#adminName").append(json.adminName);
                        $("#adminEmail").append(json.adminEmail);
                        console.log("管理员姓名 ： "+json.adminName);
                        console.log("管理员邮箱 ： "+json.adminEmail);

                        break;
                    case "FAILED" :
                        $("#dialog-return").find(".modal-body").html("获取管理员信息失败");
                        $("#dialog-return").modal("show");

                        break;
                }


            },
            error : function () {
                $("#dialog-return").find(".modal-body").html("获取管理员信息失败---网络错误");
                $("#dialog-return").modal("show");
            }
        });
    })

    $("#logout").click(function () {
        $(".log-out-bs-example-modal-sm").find(".modal-body").html("确认退出系统？");
        $(".log-out-bs-example-modal-sm").find(".modal-footer-delete-confirm").css("display", "");
        $(".log-out-bs-example-modal-sm").modal("show");
    });

    $(".btn.btn-danger.btn-logout").click(function () {
        window.location.href = "/logout";
    })

    $(".btn.btn-primary.savePerson").click(function () {
        window.personID = $("#personList").find("input[type='radio']:checked").val();

        var searchURL;

        getPersonNameAndShow(window.personID,$("#searchType").val())

        $(".btn.btn-default.savePerson-close").click();

    })

    $(".searchTrace").click(function () {
        var id;

        if(personId != undefined){
            id = personId;
        } else {
            id = $("input[name='id']:checked").val();

            if(id == undefined){
                if($("#searchType").val() == "employee"){
                    $("#dialog-return").find(".modal-body").html("请选择员工");

                } else {
                    $("#dialog-return").find(".modal-body").html("请选择访客");
                }

                $("#dialog-return").modal("show");

                return ;
            }
        }

        var startTime = $("#datepicker_start").val();
        if(startTime == ""){
            $("#dialog-return").find(".modal-body").html("请选择开始时间");
            $("#dialog-return").modal("show");

            return ;
        }

        var endTime = $("#datepicker_end").val();
        if(endTime == ""){
            $("#dialog-return").find(".modal-body").html("请选择结束时间");
            $("#dialog-return").modal("show");

            return ;
        }

        start_draw(id,startTime,endTime);
    })

    function _formatte_person_id(value, row, index) {
        return '<input name="id" type="radio" value="' + value + '" />';
    }

    function _formatte_locale_image(value, row, index) {
        var s = '<a class = "view"  href="javascript:void(0)"><img style="width:100px;"  src="' + value + '" /></a>';
        return s;
    }

</script>

</body>
</html>
