# 适用于开发环境
spring.profile.name: application-Dev.yml

server:
  # connection-timeout: 60000
  session:
    timeout: 9000 # 30'

spring:
  http:
    multipart:
      max-file-size: 100MB
      max-request-size: 1000MB
  #
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: LEGACYHTML5
    encoding: UTF-8
    content-type: text/html
    cache: false
  # 配置数据库连接信息
  datasource:
#    url: jdbc:mysql://gbmsdb.mysqldb.chinacloudapi.cn:3306/byface?characterEncoding=utf8&useSSL=false&serverTimezone=UTC
#    username: gbmsdb%gbmsdb
#    password: "GBms1GBms1"
    url: jdbc:mysql://localhost:3306/test?characterEncoding=utf8&useSSL=false&serverTimezone=UTC
    username: root
    password: root186

    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    tomcat:
      max-active: 10
      initial-size: 5
      min-idle: 5
      default-auto-commit: false
      test-while-idle: true
      validation-query: select 1

      mybatis:
        mapper-locations: classpath:mapping/*.xml
        type-aliases-package: com.winter.model

      #pagehelper分页插件
      pagehelper:
          helperDialect: mysql
          reasonable: true
          supportMethodsArguments: true
          params: count=countSql

  jpa:
    database: MYSQL
    show-sql: true
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.configuration.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect

# 日志设置
logging:
  # 设置日志输出级别
  level:
    root: WARN # root日志级别为WARN
    org:
      springframework: WARN
      hibernate: DEBUG
    com.duckduckgogogo: DEBUG # 应用日志级别为DEBUG