<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="/javascript/jquery-1.11.1.min.js"></script>
</head>
<body>
<script>
    var url = getUrlParam("rtspUrl");

    url = url.replace(/~/,'&');

    $("#param").attr("value",url);

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    create(url);

    $("#vlc").css("width","1200px");
    $("#vlc").css("height","720px");

    function create(url){
        $("body").append("<object type='application/x-vlc-plugin' pluginspage=\"http://www.videolan.org\" id='vlc' events='false' width=\"1280\" height=\"720\">\n" +
            "            <param id=\"param\" name='mrl' value='"+url+"'/>\n" +
            "            <param name='volume' value='50' />\n" +
            "            <param name='autoplay' value='true' />\n" +
            "            <param name='loop' value='false' />\n" +
            "            <param name='fullscreen' value='false' />\n" +
            "            <param name='controls' value='false' />\n" +
            "        </object>");

        // $("body").append("<object type='application/x-vlc-plugin' pluginspage=\"http://www.videolan.org\" id='vlc' events='false' width=\"1280\" height=\"720\">\n" +
        //     "            <param id=\"param\" name='mrl' value='rtsp://admin:123456by@192.168.17.237:554/cam/realmonitor?channel=1&subtype=0'/>\n" +
        //     "            <param name='volume' value='50' />\n" +
        //     "            <param name='autoplay' value='true' />\n" +
        //     "            <param name='loop' value='false' />\n" +
        //     "            <param name='fullscreen' value='false' />\n" +
        //     "            <param name='controls' value='false' />\n" +
        //     "        </object>")
    }
</script>
</body>
</html>
